.botao-voltar {
    position: fixed;
    top: 10px;
    left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border: none;
    font-size: 20px;
    margin-top: 140px;
    z-index: 4;
    position: fixed;
    background-color: #e5e7eb00;
    place-items: center;
    left: 5%;
    transform: translate(0%,50%);
    padding: 0.5em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, rgba(0,0,0,0.2));
    font-size: 24px; /* Ajuste o tamanho desejado */
    border: none; /* Remove a borda */
    cursor: pointer;
    outline: none;
    text-decoration: none; /* Remover decoração de texto */
    }
    
    @media(max-width:600px){
    
        .botao-voltar {
            position: absolute;
            top: 120px;
            left: 360px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #f2f2f2;
            color: #333;
            text-decoration: none;
            border: none;
            font-size: 20px;
            margin-top: 0px;
            z-index: 4;
            background-color: #f2f3f5;
            place-items: center;
            padding: 0.5em;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, rgba(0,0,0,0.2));
            font-size: 24px; /* Ajuste o tamanho desejado */
            border: none; /* Remove a borda */
            cursor: pointer;
            outline: none;
            text-decoration: none; /* Remover decoração de texto */
        }
    }
    
    .botao-voltar:hover {
    background-color: #e6e6e6;
    }
    
    .botao-voltar:focus {
    outline: none;
    }