{% extends "layout.html" %}
{% block body %}
<div class="row"><h3>Visão das ordens de serviço</h3></div>
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="sucess">
        <strong>Sucesso!</strong> {{ message }}
        <button type="button" class="close" data-dismiss="sucess" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <table id="table1" class="table table-striped" style="width: 100%";>
    <thead>
        <tr>
        <td>OS</td>
        <td>Setor</td>
        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Máquina ou Local</td>
        <td>Risco</td>
        <td>Status</td>
        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Descrição</td>
        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Data de abertura</td>
        <td>Ação</td>
        </tr>
    </thead>
    <tbody>
        {% for row in list_users %}
        <tr>
        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{row[10]}}</td>
        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{row[1]}}</td>
        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{row[2]}}</td>
        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{row[3]}}</td>
        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{row[4]}}</td>
        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{row[5]}}</td>
        <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{row[12]}}</td>
        <td width="130">

            <a href="/edit/{{row[10]}}" class="btn btn-secondary btn-sm">
                <i class="fas fa-wrench"></i>
            </a>

            <!-- <a href="/delete/{{row[0]}}" class="btn btn-danger btn-delete btn-sm">
                <i class="fas fa-trash"></i>
            </a> -->

        </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}