{% extends "user/layout.html" %}
{% block body %}

<style>
th, td {
  text-align: center;
}
</style>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash">
      {% for message in messages %}
        {% if message == 'Máquina cadastrada com sucesso' %}
          <div class="alert alert-success">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success! </strong> {{ message }}
          </div>
        {% else %}
          <div class="alert alert-danger">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Danger! </strong> {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div id = "tabela2" class='container-fluid'>
  <div class="row justify-content-md-center">
    <div class = "board2" style="overflow-x: auto;">
      <div id = "titulo" class="row">
        <a href="#" onclick="window.history.back();" class="botao-voltar">
          <i class="fas fa-arrow-left"></i>
        </a>
        <h1 class="visao">Planejamento</h1>
        <button id="menu-button"><i class="fa-solid fa-bars"></i></button>
      </div>
      <table id="table3" class="table table-striped">
        <thead>
          <tr>
            <th style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></th>
            {% for coluna in colunas %}
              <th style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ coluna }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
            <tr id="linhas_52semanas" style="text-overflow: ellipsis; white-space: nowrap;">
                <td>
                  <div class="dropdown">
                      <button style = 'background-color: rgb(255, 255, 255,0);'class="btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a id="dropdown_os" class="dropdown-item" href="{{ url_for('routes.mostrar_pdf', codigo_maquina=row[0]) }}" class="btn" target="_blank">
                          <i class="fas fa-clipboard-list"></i> <!-- Ícone "eye" -->
                        </a>
                        <a id = 'dropdown_os' class = "dropdown-item" href="/timeline-preventiva/{{row[0]}}" class="btn">
                          <i class="fas fa-clock"></i>
                        </a>
                      </div>
                  </div>
                </td>                
                {% for item in row %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}