{% extends "user/layout.html" %}
{% block body %}

  {% with messages = get_flashed_messages()  %}
  {% if messages %}
  {% for message in messages %}
  {% if message == 'Máquina cadastrada com sucesso' %}
  <div class="alert-success alert-dismissible fade show" id="alert_cadast_52" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  {% else %}
  <div class="alert alert-danger">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<div class="col-md-4 offset-md-4">
  <div id ="formulario_preventiva" class="card card-body">
    
    <div id = 'abertura_titulo' class="row justify-content-center align-items-center mb-3">
      <h3>Cadastro de máquinas</h3>
    </div> 

    <form action="{{ url_for('routes.cadastro_preventiva') }}" method="POST" enctype="multipart/form-data">

      <div class="form-row">
        <div class="form-group">
          <label for="codigo">Codigo</label>
          <input type="text" class="form-control" style="height: 38px;" name="codigo" required>
        </div>

        <div class="form-group">
          <label for="tombamento">Tombamento</label>
          <input type="text" class="form-control" style="height: 38px;" name="tombamento">
        </div>
      </div>

      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" style="height: 38px;" name="descricao" required>
      </div>
      
      <div class="form-row">
          <div class="form-group" style="width: 160px; margin-right: 5px;">         
            <label for="setor-label">Setor</label>
            <select class="form-control form-control" style="height: 38px;" id="setor" name="setor" required>
              <option value="" selected disabled hidden></option>  
              <option>Administrativo</option>
              <option>Estamparia</option>
              <option>Solda</option>
              <option>Montagem</option>
              <option>Pintura</option>
              <option>Carpintaria</option>
              <option>Almoxarifado</option>
              <option>Usinagem</option>
              <option>Serra</option>
              <option>Corte</option>
              <option>Serralheria</option>
              <option>Equipamentos de Movimentação</option>
            </select>
          </div>

          <div class="form-row" style="margin-left: 20px;">
            <div class="form-group">
              <label for="cadastrar-preventiva">Preventiva</label>
              <label class="switch">
                <input type="checkbox" name="cadastrar-preventiva" id="cadastrar-preventiva" onchange="toggleCampos()">
                <span class="slider round"></span>
              </label>
            </div>
          </div>
    
          <div class="form-group" style="width: 30px; margin-right: 50px;">  
            <label for="criticidade-label">Criticidade</label>              
            <select style = 'width: 60px; height: 38px;' class="form-control form-control" id="criticidade" name="criticidade" required>
              <option value="" selected disabled hidden></option>  
              <option>A</option>
              <option>B</option>
              <option>C</option>
            </select>
          </div>
    </div>

      <div class="form-row">
        <div class="form-group">
          <label for="manut_inicial">Data inicio</label>
          <input style='height: 38px;' type="date" class="form-control" id="manut_inicial" name="manut_inicial" required>
        </div>

        <div class="form-group"> 
          <label for="periodicidade-label">Periodicidade</label>               
          <select class="form-control form-control" style="height: 38px;" id="periodicidade" name="periodicidade" required>
            <option value="" selected disabled hidden></option>  
            <option>Semanal</option>
            <option>Quinzenal</option>
            <option>Mensal</option>
            <option>Bimestral</option>
            <option>Semestral</option>
          </select>
        </div>
      </div>

      <div class="file-upload" style="margin-top: 20px;">
          <input class="file-upload__input" type="file" name="pdf" id="pdf" multiple disabled hidden>
          <button class="file-upload__button" type="button" name="pdf" id="pdf" disabled>Checklist em pdf</button>
          <span class="file-upload__label">Nenhum Arquivo selecionado</span>
      </div>

      <div class="file-upload" style="margin-top: 20px;">
        <input class="file-upload__input" type="file" name="imagem" id="imagem" multiple disabled>
        <button class="file-upload__button" type="button" name="imagem" id="imagem" disabled>Imagem</button>
        <span class="file-upload__label">Nenhum Arquivo selecionado</span>
      </div>
    
      <div class="file-upload" style="margin-top: 20px;">
        <input class="file-upload__input" type="file" name="pdf2" id="pdf2" multiple disabled>
        <button class="file-upload__button" type="button" name="pdf" id="pdf" disabled>Documento</button>
        <span class="file-upload__label">Nenhum Arquivo selecionado</span>
      </div>

      <button id = 'salvar' class="btn btn-primary btn-block">
        Inserir 
      </button>
      
    </form>
  </div>
</div>
</div>

<script>
  function toggleCampos() {
    var cadastrarPreventivaCheckbox = document.getElementById("cadastrar-preventiva");
    var criticidadeSelect = document.getElementById("criticidade");
    var manutInicialInput = document.getElementById("manut_inicial");
    var periodicidadeSelect = document.getElementById("periodicidade");
  
    if (cadastrarPreventivaCheckbox.checked) {
      criticidadeSelect.removeAttribute("disabled");
      manutInicialInput.removeAttribute("disabled");
      periodicidadeSelect.removeAttribute("disabled");
    } else {
      criticidadeSelect.setAttribute("disabled", "disabled");
      manutInicialInput.setAttribute("disabled", "disabled");
      periodicidadeSelect.setAttribute("disabled", "disabled");
    }
  }
  
  // Chamada inicial para garantir que os campos estejam corretamente habilitados/desabilitados ao carregar a página
  toggleCampos();
</script>

<script>
  var maquinaParadaCheckbox = document.getElementById('cadastrar-preventiva');
  var maquinaParadaHiddenInput = document.querySelector('input[name="cadastrar-preventiva"][type="hidden"]');

  maquinaParadaCheckbox.addEventListener('change', function() {
    if (this.checked) {
      maquinaParadaHiddenInput.value = "true";
    } else {
      maquinaParadaHiddenInput.value = "false";
    }
  });
</script>

{% endblock %}