{% extends "user/layout.html" %}
{% block body %}

<a id='botao_voltar' href="/index"><i class="fa-solid fa-arrow-left"></i>Voltar</a>
<div id = 'edicao' class = 'card card-body'>
<div class="row">
    <div class = 'col-md-4 mx-auto'>
        <form action="/update/{{ordem[10]}}" method="POST">
            <div class="form-group">
                <label for="setor">Setor:</label>
                <input type="text" name="setor" value="{{ordem[1]}}" class="form-control" readonly="readonly">
            </div>
            <div class="form-group">
                <label for="maquina">Máquina ou Local:</label>
                <input type="text" name="maquina" value="{{ordem[2]}}" class="form-control" readonly="readonly">
            </div>
            <div class="form-group">
                <label for="datainicio">Data inicio</label>    
                <input type="date" name="datainicio" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="horainicio">Hora Inicio</label>    
                <input type="time" name="horainicio" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="problema">Descrição do usuário:</label>
                <textarea id="problema" class="form-control" name="problema" rows="5" cols="41" required readonly="readonly">{{ordem[5]}}</textarea >
            </div>
            <div class="form-group" style="width: 355px;"> 
                <label for="operador">Operadores</label>
                <select class="form-control form-control" id="operador" name="operador" multiple required>
                    <option value="123 - Ryan">123 - Ryan</option>
                    <option value="456 - Davi">456 - Davi</option>
                    <option value="789 - Outro">789 - Outro</option>
                </select>
            </div>
    </div>
    <div class = 'col-md-4 mx-auto'>
            <div class="form-group">
                <label for="risco">Risco</label>    
                <input type="text" name="risco" value="{{ordem[3]}}" class="form-control" readonly="readonly"> 
            </div>
            <div class="form-group">
                <label for="n_ordem">Número da execução:</label>
                <input type="text" name="n_ordem" value="{{ordem[11] + 1}}" class="form-control" readonly="readonly">
            </div>
            <div class="form-group">
                <label for="datafim">Data fim</label>    
                <input type="date" name="datafim" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="horafim">Hora fim</label>    
                <input type="time" name="horafim" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="descmanutencao">Observação da manutenção:</label>
                <textarea id="descmanutencao" class="form-control" name="descmanutencao" rows="5" cols="41"></textarea>
            </div>
            <div class="form-group">        
                <label for="statusLista">Status</label>
                <select class="form-control form-control" id="statusLista" name="statusLista">
                    {% for opcao in opcoes %}
                    <option value="{{ opcao }}">{{ opcao }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-group">
            <button id = 'salvar_edicao' type="submit" class="btn btn-primary btn-block">
                Salvar
            </button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}