{% extends "user/layout.html" %}
{% block body %}

{% with messages = get_flashed_messages()  %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="sucess" style="width: 45%;">
    <strong>Sucesso!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="sucess" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div id = 'edicao' class = 'card card-body'>
<div class="row">
    <div class = 'col offset'>
        <form action="/update/{{ordem[10]}}" method="POST">
            <div class="form-group">
                <label for="setor">Setor:</label>
                <input type="text" name="setor" value="{{ordem[1]}}" class="form-control" readonly="readonly">
            </div>
            <div class="form-group">
                <label for="maquina">Máquina ou Local:</label>
                <input type="text" name="maquina" value="{{maquinas[0]}}" class="form-control" readonly="readonly">
            </div>
            <div class="form-group">
                <label for="problema">Descrição do usuário:</label>
                <textarea id="problema" class="form-control" name="problema" rows="5" cols="41" required readonly="readonly">{{ordem[5]}}</textarea >
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="risco">Risco</label>    
                    <input style="width: 100%;" type="text" name="risco" value="{{ordem[3]}}" class="form-control" readonly="readonly"> 
                </div>
                <div class="form-group">
                    <label for="n_ordem">Número da execução:</label>
                    <input style ="width: 100%;" type="text" id="n_ordem" name="n_ordem" value="{{ordem[11] + 1}}" class="form-control" readonly="readonly">
                </div>
            </div>
            <div class="form-row">
                {% if tipo_manutencao == '' %}
                <div class="form-group" style="width: 100%;"> 
                    <label for="operador">Tipo de manutenção</label>
                    <select style = 'height: 50px;' class="form-control form-control" name="tipo_manutencao">
                        <option value="" selected disabled hidden></option>  
                        <option value="Corretiva">Corretiva</option>
                        <option value="Preventiva">Preventiva</option>
                        <option value="Preditiva">Preditiva</option>
                        <option value="Apoio">Apoio</option>
                        <option value="Projetos">Projetos</option>
                        <option value="sesmt">SESMT</option>  
                    </select>               
                </div>
                {% else %}

                <div class="form-group">
                    <label for="operador">Tipo de manutenção</label>
                    <input type='text' name="tipo_manutencao" value="{{ tipo_manutencao }}" class="form-control" readonly="readonly">
                </div>
                {% endif %}

                {% if area_manutencao == '' %}
                <div class="form-group" style="width: 100%;"> 
                    <label for="operador">Área de manutenção</label>
                    <select style = 'height: 50px;' class="form-control form-control" name="area_manutencao">
                        <option value="" selected disabled hidden></option>  
                        <option value="Predial">Predial</option>
                        <option value="Mecânica">Mecânica</option>
                        <option value="Elétrica">Elétrica</option>
                    </select>               
                </div>
                {% else %}

                <div class="form-group">
                    <label for="area">Área de manutenção</label>
                    <input type='text' name="area_manutencao" value="{{ area_manutencao }}" class="form-control" readonly="readonly">
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="statusLista">Data e hora</label>
                <input id="data_edit" type="text" name="datetimes" />
            </div>
            <div class="form-group" style="width: 100%;"> 
                <label for="operador_label">Operadores</label>
                <select class="form-control" id="operador" name="operador" multiple required>
                    {% for funcionario in tb_funcionarios %}
                        <option>{{funcionario[0]}}</option>
                    {% endfor %}
                </select>
            </div>
    </div>
    <div class = 'col-md-12 offset'>
            <div class="form-group">
                <label for="descmanutencao">Observação da manutenção:</label>
                <textarea id="descmanutencao" class="form-control" name="descmanutencao" rows="5" cols="41"></textarea>
            </div>
            <div class="form-group">        
                <label for="statusLista">Status</label>
                <select class="form-control form-control" id="statusLista" name="statusLista">
                    {% for opcao in opcoes %}
                    <option value="{{ opcao }}">{{ opcao }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row">
              <div class="toggle" id="maquina-parada-toggle" style="display: none;">
                  <label for="maquina-realmente-parada">Máquina está parada?</label>
                  <label class="switch2">
                    <input type="checkbox" name="maquina-parada-1" id="maquina-parada-1" value="true"> 
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="toggle" id="execucao-maquina-toggle" style="display: none;">
                    <label for="execucao-maquina-parada">Execução feita c/ a máquina parada?</label>
                    <label class="switch2">
                      <input type="checkbox" name="maquina-parada-2" id="maquina-parada-2" value="true">
                      <span class="slider round"></span>
                    </label>
                </div>
                <div class="toggle" id="apos-execucao-toggle" style="display: none;">
                    <label for="apos-execucao-maquina-parada">Após a execução, a máquina está funcionando?</label>
                    <label class="switch2">
                      <input type="checkbox" name="maquina-parada-3" id="maquina-parada-3" value="true">
                      <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <br>
            <div class="form-group">
            <button id = 'salvar_edicao' type="submit" class="btn btn-primary btn-block">
                Salvar
            </button>
            </div>
        </form>
    </div>
</div>
</div>

<script>
$(function() {
    $('input[name="datetimes"]').daterangepicker({
      timePicker: true,
      startDate: moment().startOf('hour'),
      endDate: moment().startOf('hour').add(32, 'hour'),
      locale: {
        format: 'DD/MM/YY hh:mm A'
      }
    });
  
    $('input[name="datetimes"]').on('apply.daterangepicker', function(ev, picker) {
      var startDate = picker.startDate;
      var endDate = picker.endDate;
  
      if (endDate.isBefore(startDate)) {
        alert("A data final não pode ser menor que a data inicial");
        picker.setEndDate(startDate);
      }
    });
  });
</script>  

<script>
  $(document).ready(function() {
  // Event handler for status dropdown change
  $('#statusLista').on('change', function() {
    var selectedStatus = $(this).val();
    var nOrdem = parseInt($('#n_ordem').val());

    updateToggleVisibility(selectedStatus, nOrdem);
  });

  // Update toggle visibility on page load
  var selectedStatus = $('#statusLista').val();
  var nOrdem = parseInt($('#n_ordem').val());
  updateToggleVisibility(selectedStatus, nOrdem);

  function updateToggleVisibility(status, nOrdem) {
    if (nOrdem === 1 && status === 'Finalizada') {
      $('#maquina-parada-toggle').hide();
      $('#execucao-maquina-toggle').show();
      $('#apos-execucao-toggle').hide();
    } else if (nOrdem === 2 && status === 'Finalizada') {
      $('#maquina-parada-toggle').hide();
      $('#execucao-maquina-toggle').show();
      $('#apos-execucao-toggle').hide();
    } else if (status === 'Finalizada') {
      $('#maquina-parada-toggle').hide();
      $('#execucao-maquina-toggle').show();
      $('#apos-execucao-toggle').hide();
    } else if (nOrdem === 1) {
      $('#maquina-parada-toggle').show();
      $('#execucao-maquina-toggle').show();
      $('#apos-execucao-toggle').hide();
    }else if (nOrdem === 2) {
      $('#maquina-parada-toggle').show();
      $('#execucao-maquina-toggle').show();
      $('#apos-execucao-toggle').show();
    } else {
      $('#maquina-parada-toggle').show();
      $('#execucao-maquina-toggle').show();
      $('#apos-execucao-toggle').show();
    }
  }
});

</script>

<script>
    var maquinaParadaCheckboxOne = document.getElementById('maquina-parada-1');
    var maquinaParadaHiddenInputOne = document.querySelector('input[name="maquina-parada-1"][type="hidden"]');
  
    maquinaParadaCheckboxOne.addEventListener('change', function() {
      if (this.checked) {
        maquinaParadaHiddenInputOne.value = "true";
      } else {
        maquinaParadaHiddenInputOne.value = "false";
      }
    });
    var maquinaParadaCheckboxTwo = document.getElementById('maquina-parada-2');
    var maquinaParadaHiddenInputTwo = document.querySelector('input[name="maquina-parada-2"][type="hidden"]');
  
    maquinaParadaCheckboxTwo.addEventListener('change', function() {
      if (this.checked) {
        maquinaParadaHiddenInputTwo.value = "true";
      } else {
        maquinaParadaHiddenInputTwo.value = "false";
      }
    });
    var maquinaParadaCheckboxThree = document.getElementById('maquina-parada-3');
    var maquinaParadaHiddenInputThree = document.querySelector('input[name="maquina-parada-3"][type="hidden"]');
  
    maquinaParadaCheckboxThree.addEventListener('change', function() {
      if (this.checked) {
        maquinaParadaHiddenInputThree.value = "true";
      } else {
        maquinaParadaHiddenInputThree.value = "false";
      }
    });
  </script>
{% endblock %}