{% extends "user/layout.html" %}
{% block body %}

{% with messages = get_flashed_messages()  %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="sucess" style="width: 45%;">
    <strong>Sucesso!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="sucess" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="col-md-4 offset-md-4">
<div id = 'edicao' class = 'card card-body'>
  <div id = 'abertura_titulo' style="display: flex;justify-content: center;;align-items: center; margin-bottom: 25px;">
      <a href="#" onclick="window.history.back();" class="botao-voltar">
        <i class="fas fa-arrow-left"></i>
      </a>
    <h5 style="margin-right: 30%; margin-left: 30%;">Execução</h5>
    <button class="menu-button"><i class="fa-solid fa-bars"></i></button>
  </div> 
<div class="row">
  <form action="/update/{{ordem[10]}}/{{ identificador_selecionado }}/{{ setor_selecionado }}" method="POST">
    <div class = 'col offset'>
          <div class="form-row">
            <div class="form-group">
                <label for="setor">Setor:</label>
                <input type="text" name="setor" id="setor" value="{{ordem[1]}}" class="form-control" readonly="readonly">
            </div>
            <div class="form-group">
              <label for="setor">Solicitante:</label>
              <input type="text" name="solicitante" value="{{ordem[20]}}" class="form-control" readonly="readonly">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
                <label for="maquina">Máquina ou Local:</label>
                <input type="text" name="maquina" id="maquina"  value="{{ordem[2]}}" class="form-control" readonly="readonly">
            </div>
            <div class="form-group">
              <label for="tombamento">Tombamento</label>
              <input type="text" name="tombamento" value="{{ordem[27]}}" class="form-control" readonly="readonly" >
            </div>
          </div>
          <div class="form-row">
            <div class="form-group" id="equipamento_em_falha" style="display: none;">
              <label>Equipamento em falha:</label>
              <input type="text" name="maquina" value="{{ordem[23]}}" class="form-control" readonly="readonly">
            </div>
            <div class="form-group" id="codigo_equipamento" style="display: none;">
              <label>Código do Equipamento:</label>
              <input type="text" name="maquina" value="{{ordem[26]}}" class="form-control" readonly="readonly">
            </div>
          </div>
          <div class="form-row"  id="setor_maquina_solda" style="display: none; align-items: flex-end;">
            <div class="form-group">
                <label>Setor da máq. de solda:</label>
                <input type="text" name="maquina" value="{{ordem[24]}}" class="form-control" readonly="readonly">
            </div>
            <div class="form-group" id="ferramenta">
              <label>Qual ferramenta:</label>
              <input type="text" name="maquina" value="{{ordem[25]}}" class="form-control" readonly="readonly">
            </div>
          </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="risco">Risco</label>    
                    <input style="width: 100%;" type="text" name="risco" value="{{ordem[3]}}" class="form-control" readonly="readonly"> 
                </div>
                <div class="form-group">
                    <label for="n_ordem">Núm. da execução:</label>
                    <input style ="width: 100%;" type="text" id="n_ordem" name="n_ordem" value="{{ordem[11] + 1}}" class="form-control" readonly="readonly">
                </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="problema">Descrição do usuário:</label>
                <textarea id="problema" class="form-control" name="problema" rows="5" cols="41" required readonly="readonly">{{ordem[5]}}</textarea >
              </div>
              <div class="form-group">
                <label>Data Abertura:</label>
                <input style ="width: 100%;" type="text" name="n_ordem" value="{{dataabertura}}" class="form-control" readonly="readonly">
              </div>
          </div>
    
            <div class="form-row" id="pvlye" style="display: none;">
              <div class="form-group">
                <label for="pvlye">PVLYE (L)</label>
                <input class="form-control" type="text" name="pvlye" value="{{pvlye}}">
              </div>
              <div class="form-group" id="pa-plus">
                <label for="pa-plus">PA PLUS (L)</label>
                <input class="form-control" type="text" name="pa-plus" value="{{pa_plus}}">
              </div>
            </div>

            <div class="form-row" id="tratamento" style="display: none;">
              <div class="form-group">        
                <label for="tratamento">Tratamento Eficaz?</label>
                <select style = 'height: 50px;' class="form-control form-control" name="tratamento" id = "tratamento" value="{{tratamento}}">
                  <option value="" selected disabled hidden></option>
                  <option>Sim</option>
                  <option>Não</option>
                </select>
              </div>
              <div class="form-group">
                <label for="ph-agua">PH Água</label>
                <input class="form-control form-control" type="text" name="ph-agua" id="ph-agua" value="{{ph_agua}}">
              </div>
            </div>
            <!-- E.T.E -->

            <div class="form-row">
                {% if tipo_manutencao == '' %}
                <div class="form-group" style="width: 48%;"> 
                    <label>Tipo de manutenção</label>
                    <select style = 'height: 50px;' class="form-control form-control1" name="tipo_manutencao" id="tipo_manutencao">
                        <option value="" selected disabled hidden></option>  
                        <option value="Corretiva">Corretiva</option>
                        <option value="Preventiva">Preventiva</option>
                        <option value="Preditiva">Preditiva</option>
                        <option value="Apoio">Apoio</option>
                        <option value="Projetos">Projetos</option>
                        <option value="sesmt">SESMT</option>  
                        <option value="Corretiva Programada">Corretiva Programada</option>  
                    </select>               
                </div>
                {% else %}
                <div class="form-group">
                    <label>Tipo de manutenção</label>
                    <input type='text' name="tipo_manutencao" value="{{ tipo_manutencao }}" class="form-control form-control1" readonly="readonly">
                </div>

                {% endif %}

                {% if area_manutencao == '' %}
                <div class="form-group" style="width: 48%;"> 
                    <label>Área de manutenção</label>
                    <select style = 'height: 50px;' class="form-control form-control1" name="area_manutencao">
                        <option value="" selected disabled hidden></option>  
                        <option value="Predial">Predial</option>
                        <option value="Mecânica">Mecânica</option>
                        <option value="Elétrica">Elétrica</option>
                    </select>               
                </div>
                {% else %}
                <div class="form-group">
                    <label for="area">Área de manutenção</label>
                    <input type='text' name="area_manutencao" value="{{ area_manutencao }}" class="form-control form-control1" readonly="readonly">
                </div>
                {% endif %}
              </div>
            <div class="form-group">
                <label for="statusLista">Data e hora</label>
                <input id="data_edit" class="form-control form-control1" type="text" name="datetimes" />
            </div>
            <div class="form-group operadores" style="width: 100%;"> 
                <label for="operador_label">Operadores</label>
                <select class="form-control form-control" id="operador" name="operador" multiple required>
                    {% for funcionario in tb_funcionarios %}
                        <option>{{funcionario[0]}}</option>
                    {% endfor %}
                </select>
            </div>
    </div>
    <div class = 'col-md-12 offset'>
            <div class="form-group">
                <label for="descmanutencao">Observação da manutenção:</label>
                <textarea id="descmanutencao" class="form-control form-control1" name="descmanutencao" rows="5" cols="41"></textarea>
            </div>
            <div class="form-group">        
                <label for="statusLista">Status</label>
                <select class="form-control form-control1" id="statusLista" name="statusLista">
                    {% for opcao in opcoes %}
                    <option value="{{ opcao }}">{{ opcao }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row toggles_campos">
                <div class="toggle" id="maquina-parada-toggle" style="display: none;">
                  <label for="maquina-realmente-parada">Máquina está parada?</label>
                  <label class="switch2">
                    <input type="checkbox" name="maquina-parada-1" id="maquina-parada-1" value="true"> 
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="toggle" id="execucao-maquina-toggle" style="display: none;">
                    <label for="execucao-maquina-parada">Execução feita c/ a máquina parada?</label>
                    <label class="switch2">
                      <input type="checkbox" name="maquina-parada-2" id="maquina-parada-2" value="true">
                      <span class="slider round"></span>
                    </label>
                </div>
                <div class="toggle" id="apos-execucao-toggle" style="display: none;">
                    <label for="apos-execucao-maquina-parada">Após a execução, a máquina está funcionando?</label>
                    <label class="switch2">
                      <input type="checkbox" name="maquina-parada-3" id="maquina-parada-3" value="true">
                      <span class="slider round"></span>
                    </label>
                </div>
              </div>
                <div style="display: flex; flex-direction: column;">
                  <div class="check" id="limpeza-toggle" style="display: none;">
                    <label for="limpeza">Limpeza no local?</label>
                    <label class="switch2">
                      <input type="checkbox" name="limpeza-local" id="limpeza-local" value="true">
                    </label>
                </div>  
                <div class="check" id="protecao-toggle" style="display: none;">
                  <label for="protec">Proteções?</label>
                    <label class="switch2">
                      <input type="checkbox" name="protecao-local" id="protecao-local" value="true">
                    </label>
                </div>
                <div class="check" id="funcionalidade-toggle" style="display: none;">
                  <label for="funcionalidade">Funcionalidade no equipamento?</label>
                  <label class="switch2">
                    <input type="checkbox" name="funcionalidade-equipamento" id="funcionalidade-equipamento" value="true">
                  </label>
                </div>
            </div>
            <br>
            <div class="form-group">
            <button id = 'salvar_edicao' type="submit" class="btn btn-primary btn-block">
              Salvar
            </button>
            <input name="numero_ordem" id="numero_ordem" value="{{ordem[10]}}" style="display: none;">
            <input id="maquinas_preventivas" value="{{ preventiva }}" style="display: none;">
            <button id ='ok_edicao' type="submit" class="btn btn-primary btn-block" style="display: none;">
              Ok
            </button>
            </div>
        </form>
    </div>
</div>
</div>

<script>
    $(document).ready(function() {
        // Função para verificar o estado do botão
        function verificarEstadoBotao() {
            var maquinas_preventivas = $('#maquinas_preventivas').val();
            var status = $('#statusLista').val();
            var limpeza = $('#limpeza-local').prop('checked');
            var protecao = $('#protecao-local').prop('checked');
            var funcionalidade = $('#funcionalidade-equipamento').prop('checked');

            // Habilitar ou desabilitar o botão com base nas condições
            if (status === 'Finalizada' && limpeza && protecao && funcionalidade && maquinas_preventivas ==='True') {
                $('#salvar_edicao').prop('disabled', false);
            } else if(status === 'Finalizada' && maquinas_preventivas ==='False') {
              $('#salvar_edicao').prop('disabled', false);
            } else if(status !== 'Finalizada') {
                $('#salvar_edicao').prop('disabled', false);
            } else if(status !== 'Finalizada') {
              $('#salvar_edicao').prop('disabled', false);
            } else{
                $('#salvar_edicao').prop('disabled', true);
            }
        }

        // Associar a função ao evento de mudança do statusLista e dos checkboxes
        $('#statusLista, #limpeza-local, #protecao-local, #funcionalidade-equipamento').change(verificarEstadoBotao);

        // Inicialmente, verificar o estado do botão
        verificarEstadoBotao();
    });
</script>

<script>
$(function() {
    $('input[name="datetimes"]').daterangepicker({
      timePicker: true,
      startDate: moment().startOf('hour'),
      endDate: moment().startOf('hour').add(32, 'hour'),
      locale: {
        format: 'DD/MM/YY hh:mm A'
      }
    });
  
    $('input[name="datetimes"]').on('apply.daterangepicker', function(ev, picker) {
      var startDate = picker.startDate;
      var endDate = picker.endDate;
  
      if (endDate.isBefore(startDate)) {
        alert("A data final não pode ser menor que a data inicial");
        picker.setEndDate(startDate);
      }
    });
  });
</script>  

<script>
  $(document).ready(function() {
  // Event handler for status dropdown change
  $('#statusLista').on('change', function() {
      var selectedStatus = $(this).val();
      var nOrdem = parseInt($('#n_ordem').val());
      var maquinaValue = $('#maquina').val(); // Obter o valor da máquina
      var maquinas_preventivas = $('#maquinas_preventivas').val();// boolean
      var identificador_logado = $('.identificador_logado').val();

      updateToggleVisibility(selectedStatus, nOrdem, maquinaValue,maquinas_preventivas,identificador_logado);
    });

    // Update toggle visibility on page load
    var selectedStatus = $('#statusLista').val();
    var nOrdem = parseInt($('#n_ordem').val());
    var maquinaValue = $('#maquina').val(); // Obter o valor da máquina
    var maquinas_preventivas = $('#maquinas_preventivas').val(); // boolean
    var identificador_logado = $('.identificador_logado').val();
    console.log(identificador_logado)
    updateToggleVisibility(selectedStatus, nOrdem, maquinaValue,maquinas_preventivas,identificador_logado);
  });

  function updateToggleVisibility(status, nOrdem, maquinaValue,maquinas_preventivas,identificador_logado) {
    if (status !== 'Aguardando OK' && identificador_logado === "2") {
      $('#maquina-parada-toggle').hide();
      $('#execucao-maquina-toggle').hide();
      $('#apos-execucao-toggle').hide();
      $('#limpeza-toggle').hide();
      $('#protecao-toggle').hide();
      $('#funcionalidade-toggle').hide();
      $('#ok_edicao').hide();
    }else if  (maquinaValue === 'ETE' || identificador_logado === "2") {
      $('#maquina-parada-toggle').hide();
      $('#execucao-maquina-toggle').hide();
      $('#apos-execucao-toggle').hide();
      $('#limpeza-toggle').hide();
      $('#protecao-toggle').hide();
      $('#funcionalidade-toggle').hide();
    }else if (status === 'Finalizada' && maquinas_preventivas === "True" && nOrdem > 0){
      $('#maquina-parada-toggle').hide();
      $('#execucao-maquina-toggle').show();
      $('#apos-execucao-toggle').hide();
      $('#limpeza-toggle').show();
      $('#protecao-toggle').show();
      $('#funcionalidade-toggle').show();
    }else if (status === 'Aguardando OK'){
      $('#maquina-parada-toggle').hide();
      $('#execucao-maquina-toggle').hide();
      $('#apos-execucao-toggle').hide();
      $('#limpeza-toggle').hide();
      $('#protecao-toggle').hide();
      $('#funcionalidade-toggle').hide();
      $('#salvar_edicao').hide();
    }else if (nOrdem === 1 && status === 'Finalizada') {
      $('#maquina-parada-toggle').hide();
      $('#execucao-maquina-toggle').show();
      $('#apos-execucao-toggle').hide();
      $('#limpeza-toggle').hide();
      $('#protecao-toggle').hide();
      $('#funcionalidade-toggle').hide();
    } else if (nOrdem === 2 && status === 'Finalizada') {
      $('#maquina-parada-toggle').hide();
      $('#execucao-maquina-toggle').show();
      $('#apos-execucao-toggle').hide();
      $('#limpeza-toggle').hide();
      $('#protecao-toggle').hide();
      $('#funcionalidade-toggle').hide();
    } else if (status === 'Finalizada') {
      $('#maquina-parada-toggle').hide();
      $('#execucao-maquina-toggle').show();
      $('#apos-execucao-toggle').hide();
      $('#limpeza-toggle').hide();
      $('#protecao-toggle').hide();
      $('#funcionalidade-toggle').hide();
    } else if (nOrdem === 1) {
      $('#maquina-parada-toggle').show();
      $('#execucao-maquina-toggle').show();
      $('#apos-execucao-toggle').show();
      $('#limpeza-toggle').hide();
      $('#protecao-toggle').hide();
      $('#funcionalidade-toggle').hide();
    } else if (nOrdem === 2) {
      $('#maquina-parada-toggle').show();
      $('#execucao-maquina-toggle').show();
      $('#apos-execucao-toggle').show();
      $('#limpeza-toggle').hide();
      $('#protecao-toggle').hide();
      $('#funcionalidade-toggle').hide();
    } else {
      $('#maquina-parada-toggle').show();
      $('#execucao-maquina-toggle').show();
      $('#apos-execucao-toggle').show();
      $('#limpeza-toggle').hide();
      $('#protecao-toggle').hide();
      $('#funcionalidade-toggle').hide();
    }
  }

</script>

<script>
    var maquinaParadaCheckboxOne = document.getElementById('maquina-parada-1');
    var maquinaParadaHiddenInputOne = document.querySelector('input[name="maquina-parada-1"][type="hidden"]');
  
    maquinaParadaCheckboxOne.addEventListener('change', function() {
      if (this.checked) {
        maquinaParadaHiddenInputOne.value = "true";
      } else {
        maquinaParadaHiddenInputOne.value = "false";
      }
    });
    var maquinaParadaCheckboxTwo = document.getElementById('maquina-parada-2');
    var maquinaParadaHiddenInputTwo = document.querySelector('input[name="maquina-parada-2"][type="hidden"]');
  
    maquinaParadaCheckboxTwo.addEventListener('change', function() {
      if (this.checked) {
        maquinaParadaHiddenInputTwo.value = "true";
      } else {
        maquinaParadaHiddenInputTwo.value = "false";
      }
    });
    var maquinaParadaCheckboxThree = document.getElementById('maquina-parada-3');
    var maquinaParadaHiddenInputThree = document.querySelector('input[name="maquina-parada-3"][type="hidden"]');
  
    maquinaParadaCheckboxThree.addEventListener('change', function() {
      if (this.checked) {
        maquinaParadaHiddenInputThree.value = "true";
      } else {
        maquinaParadaHiddenInputThree.value = "false";
      }
    });
</script>

<script>
  function getMaquinas() {
    var maquina_parada_toggle = document.getElementById('maquina-parada-toggle')
    var execucao_maquina_toggle = document.getElementById('execucao-maquina-toggle')
    var apos_execucao_toggle = document.getElementById('apos-execucao-toggle')
    var setorSelecionado = document.getElementById("setor").value;
    var maquina = document.getElementById("maquina").value;
    var equipamentoFalha = document.getElementById("equipamento_em_falha");
    var setorSolda = document.getElementById("setor_maquina_solda");
    var codigoEquipamento = document.getElementById("codigo_equipamento");
    var pvlye = document.getElementById("pvlye");
    var tratamento = document.getElementById("tratamento");
    
    if (maquina === "ETE") {

      pvlye.style.display = "flex";
      tratamento.style.display = "flex";
      maquina_parada_toggle.style.display = "none";
      execucao_maquina_toggle.style.display = "none";
      apos_execucao_toggle.style.display = "none";

    } else {
      pvlye.style.display = "none";
      tratamento.style.display = "none";
      codigoEquipamento.style.display = "block";
      equipamentoFalha.style.display = "block";
      setorSolda.style.display = "flex";
    }
  }
  document.addEventListener("DOMContentLoaded", function() {
      getMaquinas();
  });
</script>

{% endblock %}