{% extends "user/layout.html" %}
{% block body %}


<form id = 'form_filtros_graficos' action="{{ url_for('routes.grafico') }}" method="POST">
    <label for="filtro_setor">Setor:</label>
    <select class="select2" id="filtro_setor" name="filtro_setor" value="{{ setor }}">
        <option value="">Todos</option>
        <option value="{{setor_selecionado}}" selected disabled hidden>{{setor_selecionado}}</option>
        {% for setor in setores %}
        <option>{{ setor[0] }}</option>
        {% endfor %}
        <option>Manutenção</option>
    </select>
    
    <label for="filtro_maquinas">Máquina:</label>
    <select class="select2"id="filtro_maquinas" name="filtro_maquinas">
        <option value="">Todos</option>
        <option value="{{maquina_selecionado}}" selected disabled hidden>{{maquina_selecionado}}</option>
        {% for maquina in maquinas %}
        <option>{{maquina[0]}}</option>
        {% endfor %}
    </select>

    <label for="area_manutencao">Área de Manutenção:</label>
    <select class="select2"id="area_manutencao" name="area_manutencao">
        <option value="">Todos</option>
        <option value="{{area_manutencao}}" selected disabled hidden>{{area_manutencao}}</option>
        <option value="Predial" >Predial</option>
        <option value="Mecânica" >Mecânica</option>
        <option value="Elétrica" >Elétrica</option>
    </select>

    <button type="submit">Filtrar</button>
</form>

<div class="cardBox">
    <div class='card'>
        <div>
            <h5 class="card-title">Em andamento</h5> 
            <p class="card-text">{{lista_qt[3]}}</p> 
        </div>  
        <div class="iconBx"> 
            <i class="fa-solid fa-bars-progress"></i>   
        </div>
    </div>
    <div class='card'>
        <div>
            <h5 class="card-title"></i>Em Espera</h5>   
            <p class="card-text">{{lista_qt[0]}}</p>  
        </div>
        <div class="iconBx">
            <i class="fa-solid fa-lock-open"></i>            
        </div>
    </div>
    <div class='card'>
        <div>
            <h5 class="card-title"></i>Finalizadas</h5>    
            <p class="card-text">{{lista_qt[2]}}</p>    
        </div>
        <div class="iconBx">
            <i class="fa-sharp fa-solid fa-square-check"></i>
        </div>
    </div>
    <div class='card'>
        <div>
            <h5 class="card-title">Aguardando material</h5>  
            <p class="card-text">{{lista_qt[1]}}</p>      
        </div>
        <div class="iconBx">
            <i class="fa-solid fa-spinner"></i>          
        </div>            
    </div>

</div>

    <div class="graphBox">
        <div class="box">
            <canvas id="grafico1"></canvas>
        </div>
        <div class="box">
            <canvas id="grafico2"></canvas>
        </div>
    </div>

    <div class="graphBox">
        <div class="box">
            <canvas id="grafico3"></canvas>
        </div>
        <div class="box">
            <canvas id="grafico4"></canvas>
        </div>
    </div>   
    
    <div class="graphBox">
        <div class="box">
            <canvas id="grafico5"></canvas>
        </div>
        <div class="box">
            <canvas id="grafico6"></canvas>
        </div>
    </div> 

<script>

    // Gráfico MTBF por máquina

    var eixo_y = {{ dados_mtbf_maquina | safe }};
    var eixo_x = {{ labels_mtbf_maquina | safe }};
    var ctx = document.getElementById('grafico1').getContext('2d');

    var grafico = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: eixo_x,
            datasets: [{
                label: 'MTBF por máquina',
                data: eixo_y,
                fill: false,
                tension: 0.1
            }]
        },
        options: {
            responsive: true
        }
    });

    // Gráfico MTBF por setor

    var eixo_y = {{ dados_mtbf_setor | safe }};
    var eixo_x = {{ labels_mtbf_setor | safe }};
    var ctx = document.getElementById('grafico2').getContext('2d');

    var grafico = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: eixo_x,
            datasets: [{
                label: 'MTBF por setor',
                data: eixo_y,
                fill: false,
                tension: 0.1
            }]
        },
        options: {
            responsive: true
        }
    });

    // Gráfico MTTR por máquina

    var eixo_y = {{ dados_mttr_maquina | safe }};
    var eixo_x = {{ labels_mttr_maquina | safe }};
    var ctx = document.getElementById('grafico3').getContext('2d');

    var grafico = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: eixo_x,
            datasets: [{
                label: 'MTTR por máquina',
                data: eixo_y,
                fill: false,
                tension: 0.1
            }]
        },
        options: {
            responsive: true
        }
    });

    // Gráfico MTTR por setor

    var eixo_y = {{ dados_mttr_setor | safe }};
    var eixo_x = {{ labels_mttr_setor | safe }};
    var ctx = document.getElementById('grafico4').getContext('2d');

    var grafico = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: eixo_x,
            datasets: [{
                label: 'MTTR por setor',
                data: eixo_y,
                fill: false,
                tension: 0.1
            }]
        },
        options: {
            responsive: true
        },
    });

    // Disponibilidade por maquina

    var eixo_y = {{ dados_disponibilidade_maquina | safe }};
    var eixo_x = {{ labels_disponibilidade_maquina | safe }};
    var ctx = document.getElementById('grafico5').getContext('2d');

    var grafico = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: eixo_x,
            datasets: [{
                label: 'Disponibilidade por máquina',
                data: eixo_y,
            }]
        },
    });

    // Disponibilidade por setor
    
    var eixo_y = {{ dados_disponibilidade_setor | safe }};
    var eixo_x = {{ labels_disponibilidade_setor | safe }};
    var ctx = document.getElementById('grafico6').getContext('2d');

    var grafico = new Chart(ctx, {
        type: 'pie', // Alterando o tipo de gráfico para pizza
        data: {
            labels: eixo_x,
            datasets: [{
                data: eixo_y,
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                datalabels: {
                    color: 'black', // Define a cor dos rótulos para branco
                    font: {
                        size: 14 // Define o tamanho da fonte dos rótulos
                    },
                    formatter: function(value, context) {
                        return value + '%'; // Adiciona o símbolo "%" ao lado do número
                    }
                }
            },
            title: {
                display: true,
                text: 'Disponibilidade por Setor', // Define o texto do título do gráfico
                font: {
                    size: 18, // Define o tamanho da fonte do título
                    weight: 'bold' // Define o peso (negrito) da fonte do título
                }
            }
        },
        plugins: [ChartDataLabels]
    });

</script>

<script>
    $(document).ready(function() {
      $('.select2').select2();
    });
</script>
  
{% endblock %}