{% extends "user/layout.html" %}
{% block containerFluid %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning" role="alert" style="width: 45%;">
    <strong>Aviso!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}


<!-- Begin Page Content -->
<div class="container-fluid">

  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Filtros Gráficos</h6>
    </div>
    <div class="card-body">
      <form  action="{{ url_for('routes.grafico') }}" method="POST">

        <label for="filtro_setor">Setor:</label>
        <select class="form-control" aria-label="Default select example">

            {% for setor in setores %}
            {% if setor[0] in lista_setore_selecionado %}
            <option value="{{ setor[0] }}" selected>{{ setor[0] }}</option>
            {% else %}
            <option value="{{ setor[0] }}">{{ setor[0] }}</option>
            {% endif %}
            {% endfor %}

        </select>

        <label for="data_filtro">Mês:</label>
        <select class="form-control" aria-label="Default select example">
            <option value="1" {% if not todos_meses and 1 in mes %}selected{% endif %}>Janeiro</option>
            <option value="2" {% if not todos_meses and 2 in mes %}selected{% endif %}>Fevereiro</option>
            <option value="3" {% if not todos_meses and 3 in mes %}selected{% endif %}>Março</option>
            <option value="4" {% if not todos_meses and 4 in mes %}selected{% endif %}>Abril</option>
            <option value="5" {% if not todos_meses and 5 in mes %}selected{% endif %}>Maio</option>
            <option value="6" {% if not todos_meses and 6 in mes %}selected{% endif %}>Junho</option>
            <option value="7" {% if not todos_meses and 7 in mes %}selected{% endif %}>Julho</option>
            <option value="8" {% if not todos_meses and 8 in mes %}selected{% endif %}>Agosto</option>
            <option value="9" {% if not todos_meses and 9 in mes %}selected{% endif %}>Setembro</option>
            <option value="10" {% if not todos_meses and 10 in mes %}selected{% endif %}>Outubro</option>
            <option value="11" {% if not todos_meses and 11 in mes %}selected{% endif %}>Novembro</option>
            <option value="12" {% if not todos_meses and 12 in mes %}selected{% endif %}>Dezembro</option>
        </select>
        <div>
        <label for="maquinas-favoritas">Máquinas importantes</label>
          <label class="switch">
              {% if maquinas_importantes %}
              <input type="checkbox" name="maquinas-favoritas" id="maquinas-favoritas" checked>
              {% else %}
              <input type="checkbox" name="maquinas-favoritas" id="maquinas-favoritas">
              {% endif %}
              <span class="slider round"></span>
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>
    </div>
</div>
    

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Cards</h1>
</div>

<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Em Execução</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{lista_qt[3]}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Em Espera</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{lista_qt[0]}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Finalizada</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{lista_qt[2]}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                            Aguardando Material</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{lista_qt[1]}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">MTBF por Máquina</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="grafico1"></canvas>
            </div>
            <hr>
            Styling for the bar chart can be found in the
            <code>/js/demo/chart-bar-demo.js</code> file.
        </div>
    </div>
</div>
    <!-- DataTales Example -->
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">MTBF por Máquina</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <td>Máquina</td>
                        <td>Quantidade</td>
                        <td>Carga</td>
                        <td>MTBF</td>
                    </tr>
                </thead>
                <tbody>
                    {% for mtbf_maquina in lista_mtbf_maquina %}
                    <tr>
                        <td>{{mtbf_maquina[0]}}</td>
                        <td>{{mtbf_maquina[1]}}</td>
                        <td>{{mtbf_maquina[2]}}</td>
                        <td>{{mtbf_maquina[3]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Top 10 menores - MTBF por máquina</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="grafico1top10"></canvas>
            </div>
            <hr>
            Styling for the bar chart can be found in the
            <code>/js/demo/chart-bar-demo.js</code> file.
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Top 10 - MTBF por Máquina</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <td>Máquina</td>
                    <td>Qtd. OS</td>
                    <td>H.Trabalhadas</td>
                    <td>MTBF</td>
                </tr>
            </thead>
            <tbody>
                {% for mtbf_maquina_top10 in top_10_maiores_MTBF_lista %}
                <tr>
                    <td>{{mtbf_maquina_top10[0]}}</td>
                    <td>{{mtbf_maquina_top10[1]}}</td>
                    <td>{{mtbf_maquina_top10[2]}}</td>
                    <td>{{mtbf_maquina_top10[3]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">MTBF por setor</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="grafico2"></canvas>
            </div>
            <hr>
            Styling for the bar chart can be found in the
            <code>/js/demo/chart-bar-demo.js</code> file.
        </div>
    </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">MTBF por setor</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable4" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <td>Setor</td>
                                    <td>Qnt. OS</td>
                                    <td>H.Trabalhadas</td>
                                    <td>MTBF</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mtbf_setor in lista_mtbf_setor %}
                                <tr>
                                    <td>{{mtbf_setor[0]}}</td>
                                    <td>{{mtbf_setor[1]}}</td>
                                    <td>{{mtbf_setor[2]}}</td>
                                    <td>{{mtbf_setor[3]}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">MTTR por Máquina</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="grafico3"></canvas>
            </div>
            <hr>
            Styling for the bar chart can be found in the
            <code>/js/demo/chart-bar-demo.js</code> file.
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">MTTR por máquina</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable5" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <td>Máquina</td>
                            <td>Qnt. OS</td>
                            <td>Dif. (H. trab sem parada - H. Parada)</td>
                            <td>MTTR</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mttr_maquina in lista_mttr_maquina %}
                        <tr>
                            <td>{{mttr_maquina[0]}}</td>
                            <td>{{mttr_maquina[1]}}</td>
                            <td>{{mttr_maquina[2]|round(2)}}</td>
                            <td>{{mttr_maquina[3]|round(2)}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">MTTR por Setor</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="grafico4"></canvas>
            </div>
            <hr>
            Styling for the bar chart can be found in the
            <code>/js/demo/chart-bar-demo.js</code> file.
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">MTTR por Setor</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable6" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <td>Setor</td>
                                <td>Qtd. OS</td>
                                <td>H.Trabalhadas</td>
                                <td>MTTR</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mttr_setor in lista_mttr_setor %}
                            <tr>
                                <td>{{mttr_setor[0]}}</td>
                                <td>{{mttr_setor[1]}}</td>
                                <td>{{mttr_setor[2]|round(2)}}</td>
                                <td>{{mttr_setor[3]|round(2)}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Disponibilidade por Máquina</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="grafico5"></canvas>
            </div>
            <hr>
            Styling for the bar chart can be found in the
            <code>/js/demo/chart-bar-demo.js</code> file.
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Disponibilidade por Máquina</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable7" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <td>Máquina</td>
                                <td>MTBF</td>
                                <td>MTTR</td>
                                <td>Disponibilidade</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for disponibilidade_maquina in lista_disponibilidade_maquina %}
                            <tr>
                                <td>{{disponibilidade_maquina[0]}}</td>
                                <td>{{disponibilidade_maquina[1]}}</td>
                                <td>{{disponibilidade_maquina[2]}}</td>
                                <td>{{disponibilidade_maquina[3]|round(2)}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Disponibilidade por Setor</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="grafico6"></canvas>
            </div>
            <hr>
            Styling for the bar chart can be found in the
            <code>/js/demo/chart-bar-demo.js</code> file.
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Disponibilidade por Setor</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable8" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <td>Setor</td>
                                <td>MTBF</td>
                                <td>MTTR</td>
                                <td>Disponibilidade</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for disponibilidade_setor in lista_disponibilidade_setor %}
                            <tr>
                                <td>{{disponibilidade_setor[0]}}</td>
                                <td>{{disponibilidade_setor[1]}}</td>
                                <td>{{disponibilidade_setor[2]}}</td>
                                <td>{{disponibilidade_setor[3]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Horas trabalhadas (tipo de manutenção)</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="grafico7"></canvas>
            </div>
            <hr>
            Styling for the bar chart can be found in the
            <code>/js/demo/chart-bar-demo.js</code> file.
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Horas trabalhadas (tipo de manutenção)</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable9" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <td>Tipo de manutenção</td>
                            <td>Horas</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hora_tipo in lista_horas_trabalhadas_tipo %}
                        <tr>
                            <td>{{hora_tipo [0]}}</td>
                            <td>{{hora_tipo [1]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Horas trabalhadas (área manutenção)</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="grafico8"></canvas>
            </div>
            <hr>
            Styling for the bar chart can be found in the
            <code>/js/demo/chart-bar-demo.js</code> file.
        </div>
    </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Horas trabalhadas (área manutenção)</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable10" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <td>Área de manutenção</td>
                            <td>Horas</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hora_area in lista_horas_trabalhadas_area %}
                        <tr>
                            <td>{{hora_area[0]}}</td>
                            <td>{{hora_area[1]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Horas trabalhadas (por Setor)</h6>
        </div>
        <div class="card-body">
            <div class="chart-bar">
                <canvas id="grafico9"></canvas>
            </div>
            <hr>
            Styling for the bar chart can be found in the
            <code>/js/demo/chart-bar-demo.js</code> file.
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Horas trabalhadas (por Setor)</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable11" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <td>Setor</td>
                            <td>OS</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hora_setor in lista_horas_trabalhadas_setor %}
                        <tr>
                            <td>{{hora_setor[0]}}</td>
                            <td>{{hora_setor[1]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Disponibilidade Geral</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{disponibilidade_geral_setor}}%</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Page level plugins -->
<script src="static/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="static/js/demo/chart-area-demo.js"></script>
<script src="static/js/demo/chart-pie-demo.js"></script>
<script src="static/js/demo/chart-bar-demo.js"></script>
<!-- Bootstrap core JavaScript-->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="static/js/demo/datatables-demo.js"></script>




<script>

// Bar Chart Example
var eixo_y = {{ dados_mtbf_maquina | safe }};
var eixo_x = {{ labels_mtbf_maquina | safe }};
var ctx = document.getElementById("grafico1");
var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: eixo_x,
    datasets: [{
      label: 'MTBF',
      backgroundColor: "#4e73df",
      hoverBackgroundColor: "#2e59d9",
      borderColor: "#4e73df",
      data: eixo_y,
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 25,
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 90,
          maxTicksLimit: 10,
          padding: 10,
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
  }
});


// Bar Chart Example
var eixo_y = {{ dados_mtbf_top10_maquina | safe }};
var eixo_x = {{ labels_mtbf_top10_maquina | safe }};
var ctx = document.getElementById("grafico1top10");
var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: eixo_x,
    datasets: [{
      label: 'MTBF',
      backgroundColor: "#4e73df",
      hoverBackgroundColor: "#2e59d9",
      borderColor: "#4e73df",
      data: eixo_y,
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 25,
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 90,
          maxTicksLimit: 10,
          padding: 10,
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
  }
});
    // Gráfico MTBF por setor
var eixo_y = {{ dados_mtbf_setor | safe }};
var eixo_x = {{ labels_mtbf_setor | safe }};
var ctx = document.getElementById('grafico2');
var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: eixo_x,
    datasets: [{
      label: 'MTBF',
      backgroundColor: "#4e73df",
      hoverBackgroundColor: "#2e59d9",
      borderColor: "#4e73df",
      data: eixo_y,
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 25,
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 90,
          maxTicksLimit: 10,
          padding: 10,
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
  }
});
    // Gráfico MTTR por máquina

    // Gráfico MTBF por setor
var eixo_y = {{ dados_mttr_maquina | safe }};
var eixo_x = {{ labels_mttr_maquina | safe }};
var ctx = document.getElementById('grafico3');
var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: eixo_x,
    datasets: [{
      label: 'MTBF',
      backgroundColor: "#4e73df",
      hoverBackgroundColor: "#2e59d9",
      borderColor: "#4e73df",
      data: eixo_y,
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 25,
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 90,
          maxTicksLimit: 10,
          padding: 10,
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
  }
});

    // Gráfico MTTR por setor

var eixo_y = {{ dados_mttr_setor | safe }};
var eixo_x = {{ labels_mttr_setor | safe }};
var ctx = document.getElementById('grafico4');

var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: eixo_x,
    datasets: [{
      label: 'MTBF',
      backgroundColor: "#4e73df",
      hoverBackgroundColor: "#2e59d9",
      borderColor: "#4e73df",
      data: eixo_y,
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 25,
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 10,
          maxTicksLimit: 10,
          padding: 10,
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
  }
});

    // Disponibilidade por maquina

var eixo_y = {{ dados_disponibilidade_maquina | safe }};
var eixo_x = {{ labels_disponibilidade_maquina | safe }};
var ctx = document.getElementById('grafico5');

var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: eixo_x,
    datasets: [{
      label: 'MTBF',
      backgroundColor: "#4e73df",
      hoverBackgroundColor: "#2e59d9",
      borderColor: "#4e73df",
      data: eixo_y,
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 25,
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 100,
          maxTicksLimit: 10,
          padding: 10,
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
  }
});

    // Disponibilidade por setor

var eixo_y = {{ dados_disponibilidade_setor | safe }};
var eixo_x = {{ labels_disponibilidade_setor | safe }};
var ctx = document.getElementById('grafico6');

var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: eixo_x,
    datasets: [{
      label: 'MTBF',
      backgroundColor: "#4e73df",
      hoverBackgroundColor: "#2e59d9",
      borderColor: "#4e73df",
      data: eixo_y,
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 25,
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 100,
          maxTicksLimit: 10,
          padding: 10,
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
  }
});

var eixo_y = {{ dados_horas_trabalhadas_tipo | safe }};
var eixo_x = {{ labels_horas_trabalhadas_tipo | safe }};
var ctx = document.getElementById('grafico7');

var myBarChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: eixo_x,
    datasets: [{
      label: 'MTBF',
      backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc','#ffd369','#f87474'],
      hoverBackgroundColor:['#2e59d9', '#17a673', '#2c9faf'],
      data: eixo_y,
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 50,
  },
});


var eixo_y = {{ dados_horas_trabalhadas_area | safe }};
var eixo_x = {{ labels_horas_trabalhadas_area | safe }};
var ctx = document.getElementById('grafico8');

var myBarChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: eixo_x,
    datasets: [{
      label: 'MTBF',
      backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc','#ffd369','#f87474'],
      hoverBackgroundColor:['#2e59d9', '#17a673', '#2c9faf'],
      data: eixo_y,
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 50,
  },
});

var eixo_y = {{ dados_horas_trabalhadas_setor | safe }};
var eixo_x = {{ labels_horas_trabalhadas_setor | safe }};
var ctx = document.getElementById('grafico9');

var myBarChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: eixo_x,
    datasets: [{
      label: 'MTBF',
      backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc','#ffd369','#f87474','#4e73df', '#1cc88a', '#36b9cc','#ffd369','#f87474','#4e73df', '#1cc88a', '#36b9cc','#ffd369','#f87474','#4e73df', '#1cc88a', '#36b9cc','#ffd369','#f87474'],
      hoverBackgroundColor:['#2e59d9', '#17a673', '#2c9faf'],
      data: eixo_y,
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 50,
  },
});

</script>

{% endblock %}