{% extends "user/layout.html" %}
{% block body %}

<style>
    th, td {
      text-align: center;
    }
</style>

<div id = "tabela" class="container-fluid">
    <div class="row justify-content-md-center">
        <div class = "board" style="overflow-x: auto;">
            <div id = "titulo" class="row">
                <h1 class="visao">Ordem de serviço</h1>
            </div>
            <div class="table-responsive">
                <table id="table1" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50px;">OS</th>
                            <th style="max-width: 120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Setor</th>
                            <th style="max-width: 120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Máquina ou Local</th>
                            <th>Risco</th>
                            <th style="text-align: center;">Status</th>
                            <th style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Natureza</th>
                            <th style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Data de abertura</th>
                            <th style="max-width: 60px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Custo Material</th>
                            <th style="max-width: 125px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Última atualização</th>
                            <th style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in list_users %}
                        <tr style = "max-width:200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            <td style="max-width: 200px; padding-bottom: 0px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{row[11]}}</td>
                            <td style="max-width: 215px; padding-bottom: 18px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{row[2]}}</td>
                            <td style="max-width: 80px; padding-bottom: 0px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{row[3]}}</td>
                            <td style="padding-bottom: 0px;">{{row[4]}}</td>
                            

                            {% if row[5].strip() == 'Finalizada' %}
                            <td style="text-align: center;" id="status_os_finalizadas">{{ row[5] }}</td>
                            {% elif row[5].strip() == 'Em espera' %}
                            <td style="text-align: center;" id="status_os_espera">{{ row[5] }}</td>
                            {% elif row[5].strip() == 'Em execução' %}
                            <td style="text-align: center;" id="status_os_execução">{{ row[5] }}</td>
                            {% else %}
                            <td style="text-align: center;" id="status_os_aguardando">{{ row[5] }}</td>
                            {% endif %}
                            
                            
                            <td style="padding-bottom: 0px;">{{row[16]}}</td>
                            <td style="padding-bottom: 0px;">{{row[13]}}</td>
                            <td style="max-width: 60px; padding-bottom: 0px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" class="coluna-valores">R${{row[0]}}</td>
                            <td style="max-width: 80px; padding-bottom: 0px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{row[20]}}</td>                    
                            <td style="padding-bottom: 0px; padding-left: 0; padding-right: 0; padding-top: 8px;">
                                <div class="dropdown">
                                    <button style = 'background-color: rgb(255, 255, 255,0);'class="btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <a id="dropdown_os" class="dropdown-item" href="/edit/{{row[11]}}"> 
                                            <i class="fas fa-wrench"></i> 
                                        </a>    
                                        <a  id = 'dropdown_os' class = "dropdown-item" href="/edit_material/{{row[11]}}" class="btn"> 
                                            <i class="fas fa-box"></i> 
                                        </a>
                                        <a id = 'dropdown_os' class = "dropdown-item" href="/timeline/{{row[11]}}" class="btn"> 
                                            <i class="fas fa-clock"></i> 
                                        </a>
                                        <a id="dropdown_os_excluir" class="dropdown-item btn" onclick="abrirModalExclusao('{{ row[11] }}')">
                                            <i class="fas fa-trash"></i>
                                        </a>  
                                        <!-- <a>
                                            <button type="button" class="btn btn-primary" onclick="showImageModal('{{ row[11] }}')">Exibir Imagem</button>
                                        </a>  -->
                                        <a id="dropdown_os" class="dropdown-item" style="cursor: pointer;" onclick="showImageModal('{{ row[11] }}')">
                                            <i class="fas fa-image"></i> 
                                        </a>
                                        <a id="dropdown_os" class="dropdown-item" style="cursor: pointer;" href="/visualizar_pdf/{{row[11]}}" target="_blank">
                                            <i class="fa-solid fa-file-pdf"></i> 
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th style="min-width: 120px;">Ordem</th>
                            <th>Setor</th>
                            <th style="min-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Máquina ou Local</th>
                            <th style="min-width: 100px">Risco</th>
                            <th>Status</th>
                            <th style="max-width: 230px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Natureza</th>
                            <th style="min-width: 160px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Data de abertura</th>
                            <th style="min-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Custo Material</th>
                            <th style="width: 100px;"></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            </div>
        </div>
    </div>
    <!-- Modal excluir ordem -->
    <div id="modalEnviar" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span> <!-- Botão de fechar -->
            <form>
                <div>
                    <label for="observacao">Motivo da exclusão da OS:</label>
                    <textarea id="observacao" rows="4" cols="45" required></textarea>
                </div>
                <button class="enviarModal" type="submit" onclick="enviarDadosParaBackend()">Enviar</button>
            </form>
        </div>
    </div>
</div>

<!-- Modal Imagem -->
<div class="modal fade" id="imagemModal" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imagemModalLabel">Foto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Aqui é onde a imagem será exibida -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</div>

<script>
    function abrirModalExclusao(idLinha) {
      const modalEnviar = document.getElementById('modalEnviar');
      const observacao = document.getElementById('observacao');
  
      // Defina o ID da linha no atributo personalizado do botão "enviarModal"
      const enviarModalButton = document.querySelector('#modalEnviar .enviarModal');
      enviarModalButton.setAttribute('data-id-linha', idLinha);
  
      // Limpe o campo de observação antes de abrir o modal
      observacao.value = '';
  
      // Abra o modal
      modalEnviar.style.display = 'block';
    }
  
    function enviarDadosParaBackend() {
      const enviarModalButton = document.querySelector('#modalEnviar .enviarModal');
      const idLinha = enviarModalButton.getAttribute('data-id-linha');
      const observacao = document.getElementById('observacao').value;
  
      // Lógica para enviar os dados para o backend, incluindo o ID da linha e a observação
      // ...
  
      // Feche o modal após enviar os dados
      const modalEnviar = document.getElementById('modalEnviar');
      modalEnviar.style.display = 'none';
    }
  
    // Obtém o botão de fechar e adiciona um evento de clique para fechar o modal
    const closeModalButton = document.querySelector('#modalEnviar .close');
    closeModalButton.addEventListener('click', () => {
      const modalEnviar = document.getElementById('modalEnviar');
      modalEnviar.style.display = 'none';
    });
</script>

<script>
    function enviarDadosParaBackend() {
        const enviarModalButton = document.querySelector('#modalEnviar .enviarModal');
        const idLinha = enviarModalButton.getAttribute('data-id-linha');
        const observacao = document.getElementById('observacao').value;

        if (!observacao) {
            // Exibir uma mensagem de erro ou realizar alguma ação caso o campo esteja vazio
            alert('Por favor, preencha o campo de observação.');
            return;
        }

        const dados = {
            id: idLinha,
            texto: observacao
        };

        fetch('/excluir-ordem', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dados)
        })
        .then(response => response.text())
        .then(data => {
            console.log(data); // Exemplo: imprime a resposta do backend no console
            // Faça o processamento adicional ou exiba uma mensagem de sucesso para o usuário
        })
        .catch(error => {
            console.error('Erro:', error); // Tratamento de erro
            // Exiba uma mensagem de erro para o usuário
        });

        const modalEnviar = document.getElementById('modalEnviar');
        modalEnviar.style.display = 'none';
    }

</script>

<script>

    function showImageModal(id_ordem) {
        showLoading()
        $.ajax({
        url: '/visualizar_imagem/' + id_ordem,
        type: 'GET',
        success: function(response) {
            
            var imagemData = response.imagem_data;
            var modalBody = '<img src="data:image/png;base64,' + imagemData + '" alt="Imagem" />';
            
            // Preencha o conteúdo do modal com a imagem
            $('#imagemModal .modal-body').html(modalBody);
            
            // Exiba o modal
            $('#imagemModal').modal('show');
            
            // Oculta a tela de carregamento após um pequeno atraso (500 milissegundos)
            setTimeout(function() {
                hideLoading(); // Esconde o indicador de carregamento
            }, 10);
        },
        error: function(error) {
            hideLoading();
            alert('Essa Ordem de Serviço não contém imagem')
            console.log(error);
        }
        });
    }
  
</script>

<script>
    // Obtém todas as células da coluna que contém os valores float (índice da coluna, começando em 0)
    var colunaValores = document.querySelectorAll('#table1 td.coluna-valores');

    // Percorre todas as células da coluna
    for (var i = 0; i < colunaValores.length; i++) {
    var valorCelula = colunaValores[i].textContent;

    // Remove caracteres não numéricos (exceto ponto decimal) da string
    var valorNumerico = valorCelula.replace(/[^\d.-]/g, '');

    // Converte o valor para float
    var valorFloat = parseFloat(valorNumerico);

    // Verifica se o valor é um número válido
    if (!isNaN(valorFloat)) {
        // Formata o valor como moeda
        var formatoMoeda = valorFloat.toLocaleString('pt-BR', {
        style: 'currency',
        currency: 'BRL',
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
        });

        // Atualiza o valor da célula com a moeda formatada
        colunaValores[i].textContent = formatoMoeda;
    }
    }
</script>
  
{% endblock %}