{% extends "user/layout.html" %}
{% block body %}

{% with messages = get_flashed_messages()  %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="sucess">
    <strong>Sucesso!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="sucess" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div id = "tabela" class="container-fluid">
    <div class="row justify-content-md-center">
        <div class = "board" style="overflow-x: auto;">
            <div id = "titulo" class="row"><h3 class="visao">Visão das ordens de serviço</h3></div>
            <table id="table1" class="table table-striped">
                <thead>
                    <tr>
                        <th>OS</th>
                        <th>Setor</th>
                        <th style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Máquina ou Local</th>
                        <th>Risco</th>
                        <th>Status</th>
                        <th style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Descrição</th>
                        <th style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Data de abertura</th>
                        <th style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Custo Material</th>
                        <th style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in list_users %}
                    <tr style = "max-width:200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <td>{{row[11]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        

                        {% if row[5].strip() == 'Finalizada' %}
                        <td id="status_os_finalizadas">{{ row[5] }}</td>
                        {% elif row[5].strip() == 'Em espera' %}
                        <td id="status_os_espera">{{ row[5] }}</td>
                        {% elif row[5].strip() == 'Em execução' %}
                        <td id="status_os_execução">{{ row[5] }}</td>
                        {% else %}
                        <td id="status_os_aguardando">{{ row[5] }}</td>
                        {% endif %}
                        
                        
                        <td>{{row[6]}}</td>
                        <td>{{row[13]}}</td>
                        <td>R$ {{row[0]}}</td>                    
                        <td>
                            <div class="dropdown">
                                <button style = 'background-color: rgb(255, 255, 255,0);'class="btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <a id="dropdown_os" class="dropdown-item" href="/edit/{{row[11]}}"> 
                                        <i class="fas fa-wrench"></i> 
                                    </a>    
                                    <a  id = 'dropdown_os' class = "dropdown-item" href="/edit_material/{{row[11]}}" class="btn"> 
                                        <i class="fas fa-box"></i> 
                                    </a>
                                    <a id = 'dropdown_os' class = "dropdown-item" href="/timeline/{{row[11]}}" class="btn"> 
                                        <i class="fas fa-clock"></i> 
                                    </a>
                                    <!-- <a>
                                        <button type="button" class="btn btn-primary" onclick="showImageModal('{{ row[11] }}')">Exibir Imagem</button>
                                    </a>  -->
                                    <a id="dropdown_os" class="dropdown-item" style="cursor: pointer;" onclick="showImageModal('{{ row[11] }}')">
                                        <i class="fas fa-image"></i> 
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="sorting sorting_asc"></th>
                        <th>Setor</th>
                        <th style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Máquina ou Local</th>
                        <th>Risco</th>
                        <th>Status</th>
                        <th style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Descrição</th>
                        <th style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Data de abertura</th>
                        <th style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Custo Material</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        </div>
    </div>
</div>

<!-- Modal Imagem -->
<div class="modal fade" id="imagemModal" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imagemModalLabel">Foto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Aqui é onde a imagem será exibida -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</div>

  
<script>

    function showImageModal(id_ordem) {
        showLoading()
        $.ajax({
        url: '/visualizar_imagem/' + id_ordem,
        type: 'GET',
        success: function(response) {
            hideLoading();
            var imagemData = response.imagem_data;
            var modalBody = '<img src="data:image/png;base64,' + imagemData + '" alt="Imagem" />';
            
            // Preencha o conteúdo do modal com a imagem
            $('#imagemModal .modal-body').html(modalBody);
            
            // Exiba o modal
            $('#imagemModal').modal('show');
        },
        error: function(error) {
            hideLoading();
            alert('Essa Ordem de Serviço não contém imagem')
            console.log(error);
        }
        });
    }
  
</script>

{% endblock %}