<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de serviço</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}"> -->
    <link rel="stylesheet" href="font-awesome-4.7.0\css\font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toggleButton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button_back.css') }}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
      
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <!-- Include the default stylesheet -->
    <!-- Include plugin -->
    <script src="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.js"></script>
    <script src="/static/js/multiselect-dropdown.js" ></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/d1807a784c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>
<body>

  {% block voltar %}

  <div>
    <a href="#" onclick="window.history.back();" class="botao-voltar">
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>

  {% endblock %}

  <button id="menu-button"><i class="fa-solid fa-bars"></i></button>
    <div id="menu">
      <div class="logo">
        <img src="static\img\SELO 50 ANOS ISOLADO_Prancheta 1.png" alt="logo cemag">
      </div>
      <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"> -->
      <ul class="item">
        <li onclick="location.href='/index'"><i class="fa-solid fa-arrow-down-short-wide"></i><a href="/index"></a></li>
        <li class="dropdown" onclick="toggleDropdown(event)">
          <span class="icon">
            <i class="fa-solid fa-plus"></i>
          </span>
          <ul class="dropdown-menu custom-dropdown" style="padding: 0;">
            <li onclick="location.href='/openOs'"><a href="/openOs" style="font-weight: bold; padding-left: 10px;">Abrir OS</a></li>
            <li onclick="location.href='/cadastrar52'"><a href="/cadastrar52" style="font-weight: bold; font-size: 13px;">Cadastrar 52</a></li>
          </ul>
        </li> 
        <li onclick="location.href='/grafico'"><i class="fa-solid fa-chart-line"></i><a href="/grafico"></a></li>
        <li onclick="location.href='/52semanas'"><i class="fa-sharp fa-solid fa-calendar-week"></i><a href="/52semanas"></a></li>
        <li id="logout_navbar" onclick="location.href='/logout'"><i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i><a href="/logout"></a></li>
        <!-- <a class="nav-item nav-link disabled" href="#">PAGINA3</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
      </ul>
    </div>
    
    <div id = "tabela_info">
      {% block body %}
      {% endblock %}
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/popup.js"></script>
    <script src="/static/js/menu.js" ></script>
    <script src="/static/js/loading.js"></script>
    <script src="/static/js/graf.js" ></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <script>

  // const btnDelete= document.querySelectorAll('.btn-delete');
  // if(btnDelete) {
  //   const btnArray = Array.from(btnDelete);
  //   btnArray.forEach((btn) => {
  //     btn.addEventListener('click', (e) => {
  //       if(!confirm('Tem certeza que quer deletar?')){
  //         e.preventDefault();
  //       }
  //     });
  //   })
  // }
    
  // $(document).ready(function() {
  //     $('#table1').DataTable({     
  //       "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
  //         "iDisplayLength": 10
  //        } 
  //     );
  // } );
  $(document).ready(function() {
  // Setup - add a text input to each footer cell
  $('#table1 tfoot th:eq(0), tfoot th:eq(1), #table1 tfoot th:eq(2), #table1 tfoot th:eq(3), #table1 tfoot th:eq(4), #table1 tfoot th:eq(5), #table1 tfoot th:eq(6), #table1 tfoot th:eq(7)').each(function() {
    var title = $(this).text();
    $(this).html('<div class="form-group"> <input class="form-control" type="text" placeholder= "' + title + '" /> </div>');
  });

  // DataTable
  var table = $('#table1').DataTable({
    "order": [[8, "desc"]],
    "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
    "iDisplayLength": 10,
    initComplete: function() {
      // Apply the search
      this.api().columns().every(function() {
        var that = this;

        $('input', this.footer()).on('keyup change clear', function() {
          if (that.search() !== this.value) {
            that.search(this.value).draw();
          }
        });
      });
      
      // Oculta o campo "Show entries"
      $('div.dataTables_length').hide();
    },
  });
  
  // Oculta o campo de pesquisa
  $('#table1_filter').hide();
});



  $(document).ready(function() {
      $('#table2').DataTable({     
        "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
          "iDisplayLength": 10
        } 
      );
  
        // Oculta o campo "Show entries"
        $('div.dataTables_length').hide();

        } 
    );

    function toggleDropdown(event) {
      event.currentTarget.classList.toggle('open');
}


// // Obtém o elemento do botão "Abrir Menu"
// var menuButton = document.getElementById("menu-button");

// // Obtém o elemento do menu
// var menu = document.getElementById("menu");

// // Adiciona um ouvinte de evento de clique ao botão "Abrir Menu"
// menuButton.addEventListener("click", function() {
//   // Verifica se o menu está ativo
//   if (menu.classList.contains("active")) {
//     // Remove a classe 'active' do menu e do botão para fechar o menu
//     menu.classList.remove("active");
//     menuButton.classList.remove("active");
//   } else {
//     // Adiciona a classe 'active' ao menu e ao botão para abrir o menu
//     menu.classList.add("active");
//     menuButton.classList.add("active");
//   }
// });



function openPopup(url) {
    window.open(url, 'popupWindow', 'width=800,height=600');
}

</script>

</body>
</html>