{% extends "user/layout.html" %}

{% block links %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/mensagem.css') }}">

{% endblock %}

{% block containerFluid %}

<div class="container-fluid">
    <div id="seu-container-de-alertas"></div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h6 class="m-0 font-weight-bold text-primary">Tabela com máquinas cadastradas</h6>
                <a id="buttonCadastrarMaquina" href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i>
                    Cadastrar máquina
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable13" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Apelido</th>
                            <th>Tombamento</th>
                            <th>Setor</th>
                            <th>Descrição</th>
                            <th>Preventiva</th>
                            <th>Menu</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <td data-title="Código">{{row[0]}}</td>
                            <td data-title="Apelido">{{row[4]}}</td>
                            <td data-title="Tombamento">{{row[3]}}</td>
                            <td data-title="Setor">{{row[1]}}</td>
                            <td data-title="Descrição">{{row[2]}}</td>
                            <td data-title="Preventiva" style="text-align: center;">
                                {% if  row[5] == 'Y' %}
                                    <i class="fas fa-check-circle habilitado" style="color: green; font-size: 20px;"></i>
                                {% else %}
                                    <i class="fas fa-times-circle desabilitado" style="color: red; font-size: 20px;"></i>
                                {% endif %}
                            </td>
                            <!-- <td>
                                <button type="button" class="btn btn-primary" onclick="abrirModal('{{ row[0] }}')">Docs</button>
                            </td> -->                           
                            <td data-title="Menu">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% if row[5] == 'Y' %}
                                        <a class="dropdown-item" onclick="modal_editar_maquina_preventiva('{{ row[0] }}')" style="cursor: pointer;">
                                            Editar informações da máquina preventiva
                                            <!-- <img src="static/icons/editar-codigo.png" style="width: 30px;" alt="Ícone de Manutenção" title="Editar informações da máquina preventiva" class="icon-tamanho-padrao">  -->
                                        </a>
                                        {% else %}
                                        <a class="dropdown-item" onclick="modal_transformar_preventiva('{{ row[0] }}')" style="cursor: pointer;">
                                            Transformar a manutenção em preventiva
                                            <!-- <img src="static/icons/manutencao.png" style="width: 30px;" alt="Ícone de Manutenção" title="Transformar a manutenção em preventiva" class="icon-tamanho-padrao">  -->
                                        </a>
                                        <a class="dropdown-item" onclick="modal_editar_maquina('{{ row[0] }}')" style="cursor: pointer;">
                                            Editar informações da máquina
                                            <!-- <img src="static/icons/editar-codigo.png" style="width: 30px;" alt="Ícone de Manutenção" title="Editar informações da máquina" class="icon-tamanho-padrao">  -->
                                        </a>
                                        {% endif %}
                                        <!-- Exluir máquina -->
                                        <a class="dropdown-item" onclick="modalExclusao('{{ row[0] }}')"  style="cursor: pointer;">
                                            Excluir máquina
                                            <!-- <i class="fas fa-trash" style="font-size: 30px;" title="Excluir máquina" id="meu-botao"></i> -->
                                        </a>
                                        <a class="dropdown-item" onclick="modalDocumento('{{ row[0] }}')" style="cursor: pointer;">
                                            Inserir documentos
                                            <!-- <i class="fa-solid fa-file-lines docIcon" style="font-size: 30px;" title="Documentos" style="cursor: pointer;"></i> -->
                                        </a>
                                        <!-- Parar a preventiva da máquina -->
                                        {% if row[5] == 'Y' %}
                                        <a class="dropdown-item" onclick="modalPreventiva('{{ row[0] }}')"  style="cursor: pointer;">
                                            Remover do planejamento anual
                                            <!-- <img src="static/icons/stop-preventiva.png" style="width: 30px;" alt="Ícone de Manutenção" title="Remover do planejamento anual" class="icon-tamanho-padrao">  -->
                                        </a>
                                        {% else %}
                                        <a></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal para listar e inserir documentos -->
<div class="modal fade" id="modalDocumento" tabindex="-1" role="dialog" aria-labelledby="modalDocumentoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDocumentoLabel">
                    Documentos
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" accept=".pdf" enctype="multipart/form-data">
                        <label class="custom-file-label" for="inputGroupFile04" id="inputGroupFile04Label">Escolher Arquivos</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" onclick="uploadPdf(codigo_maquina)" type="button" id="inputGroupFileAddon04">Enviar</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="pdfTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>PDF</th>
                                <th>Download</th>
                                <th>Remover</th>
                            </tr>
                        </thead>
                        <tbody id="pdfTableBody">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para excluir maquina -->
<div class="modal fade" id="modalExclusao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">
                    <i class="fas fa-exclamation-triangle text-warning"></i> <!-- Ícone de atenção -->
                    Atenção
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            Tem certeza que quer remover essa máquina do cadastro? Ela também será removida do planejamento de 52 semanas. 
            Esse processo é irreversível.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnExcluir">Excluir</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para parar a preventiva da máquina -->
<div class="modal fade" id="modalPreventiva" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">
                    <i class="fas fa-exclamation-triangle text-warning"></i> 
                    Atenção
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            Tem certeza que quer remover essa máquina do planejamento? O histórico dela permanecerá, porém elá não estará nas próximas preventivas. 
            Esse processo é irreversível.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnExcluirPreventiva">Excluir</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para transformar máquina em preventiva -->
<div class="modal fade" id="modal_transformar_preventiva" tabindex="-1" role="dialog" aria-labelledby="modal_transformar_preventiva_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_transformar_preventiva_label">
                    Transformar Máquina em Preventiva
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 mb-2">
                    <strong id="label_maquina_preventiva">Deseja transformar essa máquina em preventiva?</strong>
                </div>
                <div style="display: flex;flex-wrap: wrap;">
                    <div class="col-sm-6 mb-2">
                        <label for="codigo">Codigo</label>
                        <input type="text" class="form-control" style="height: 38px;" id="transformar_codigo_preventivo" name="transformar_codigo_preventivo" disabled>
                    </div>
                    <div class="col-sm-6 mb-2">  
                        <label for="criticidade-label">Criticidade</label>              
                        <select class="form-control form-control" id="transformar_criticidade" name="transformar_criticidade" required>
                            <option value="" selected></option>  
                            <option>A</option>
                            <option>B</option>
                            <option>C</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="transformar_maquina_preventiva" class="btn btn-primary btn-block" disabled>Enviar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar maquina -->
<div class="modal fade" id="modal_editar_maquina" tabindex="-1" role="dialog" aria-labelledby="modal_editar_maquina_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_editar_maquina_label">
                    Editar Máquinas
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 mb-2">
                        <label for="codigo">Codigo</label>
                        <input type="text" class="form-control" style="height: 38px;" id="editar_codigo" name="codigo" disabled>
                    </div>
            
                    <div class="col-sm-6 mb-2">
                      <label for="tombamento">Tombamento</label>
                      <input type="text" class="form-control" style="height: 38px;" id="editar_tombamento" name="editar_tombamento">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-2">
                        <label for="descricao">Descrição</label>
                        <input type="text" class="form-control" style="height: 38px;" id="editar_descricao" name="editar_descricao">
                    </div>
                    <div class="col-sm-4 mb-2">         
                        <label for="setor-label">Setor</label>
                        <select class="form-control form-control" style="height: 38px;" id="editar_setor" name="editar_setor" disabled>
                            <option value="Administrativo">Administrativo</option>
                            <option value="Almoxarifado">Almoxarifado</option>
                            <option value="Corte e estamparia">Corte e estamparia</option>
                            <option value="Expedição">Expedição</option>
                            <option value="Equipamentos de Movimentação">Equipamentos de Movimentação</option>
                            <option value="Solda">Solda</option>
                            <option value="Montagem">Montagem</option>
                            <option value="Pintura">Pintura</option>
                            <option value="Carpintaria">Carpintaria</option>
                            <option value="Usinagem">Usinagem</option>  
                            <option value="Serra">Serra</option>
                            <option value="Serralheria">Serralheria</option>
                            <option value="Manutenção">Manutenção</option>
                            <option value="Forjaria">Forjaria</option>
                            <option value="Utilidades">Utilidades</option> 
                            <option value="Qualidade">Qualidade</option> 
                        </select>
                    </div>
                    <div class="col-sm-4 mb-2"> 
                      <label for="apelido">Apelido</label>
                      <input type="text" class="form-control" style="height: 38px;" id="editar_apelido" name="editar_apelido">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="envio-edicao-maquina" class="btn btn-primary btn-block">Inserir</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar maquina preventiva -->
<div class="modal fade" id="modal_editar_maquina_preventivas" tabindex="-1" role="dialog" aria-labelledby="modal_editar_maquina_preventivas_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_editar_maquina_preventivas_label">
                    Editar Máquinas Preventivas
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 mb-2">
                        <label for="codigo">Codigo</label>
                        <input type="text" class="form-control" style="height: 38px;" id="editar_codigo_preventivas" name="editar_codigo_preventivas" disabled>
                    </div>

                    <div class="col-sm-6 mb-2">
                        <label for="tombamento">Tombamento</label>
                        <input type="text" class="form-control" style="height: 38px;" id="editar_tombamento_preventivas" name="editar_tombamento_preventivas">
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-sm-6 mb-2">         
                        <label for="setor-label">Setor</label>
                        <select class="form-control form-control" style="height: 38px;" id="editar_setor_preventivas" name="editar_setor_preventivas" disabled>
                            <option value="Administrativo">Administrativo</option>
                            <option value="Almoxarifado">Almoxarifado</option>
                            <option value="Corte e estamparia">Corte e estamparia</option>
                            <option value="Expedição">Expedição</option>
                            <option value="Equipamentos de Movimentação">Equipamentos de Movimentação</option>
                            <option value="Solda">Solda</option>
                            <option value="Montagem">Montagem</option>
                            <option value="Pintura">Pintura</option>
                            <option value="Carpintaria">Carpintaria</option>
                            <option value="Usinagem">Usinagem</option>  
                            <option value="Serra">Serra</option>
                            <option value="Serralheria">Serralheria</option>
                            <option value="Manutenção">Manutenção</option>
                            <option value="Forjaria">Forjaria</option>
                            <option value="Utilidades">Utilidades</option> 
                            <option value="Qualidade">Qualidade</option> 
                        </select>
                    </div>
                    <div class="col-sm-6 mb-2"> 
                      <label for="apelido">Apelido</label>
                      <input type="text" class="form-control" style="height: 38px;" id="editar_apelido_preventivas" name="editar_apelido_preventivas">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mb-2">    
                        <label for="descricao">Descrição</label>
                        <input type="text" class="form-control" style="height: 38px;" id="editar_descricao_preventivas" name="editar_descricao_preventivas">     
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="envio-edicao-maquina-preventiva" class="btn btn-primary btn-block">Inserir</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de cadastro de máquina -->
<div class="modal fade" data-backdrop="static" id="modalCadastrarMaquina" tabindex="-1" role="dialog" aria-labelledby="modalCadastrarMaquinaLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cadastrarMaquina">Cadastrar máquina</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 class="m-0 font-weight-bold text-primary">Informações gerais</h6>
                <hr>
                <div class="row">
                    <div class="col-sm-6 mb-2">
                        <label for="labelCodigoCadastrarMaquina">Código:</label>
                        <input type="text" name="inputCodigoCadastrarMaquina" id="inputCodigoCadastrarMaquina" value="" class="form-control">    
                        <small id="helperSucessInputCodigoCadastrarMaquina" class="form-text text-muted" style="display: none;">
                            Código disponível!
                            <i style="color: green;" class="fas fa-check fa-sm"></i>
                        </small>
                        <small  id="helperDangerInputCodigoCadastrarMaquina" class="form-text text-muted" style="display: none;">
                            Código já existe!
                            <i style="color: red;" class="fas fa-ban fa-sm"></i>
                        </small>
                    </div>
                    <div class="col-sm-6">
                        <label for="labelTombamentoCadastrarMaquina">Tombamento:</label>
                        <input id="inputTombamentoCadastrarMaquina" type="text" name="inputTombamentoCadastrarMaquina" value="" class="form-control">    
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-2">
                        <label for="labelDescricaoCadastrarMaquina">Descrição:</label>
                        <input type="text" name="inputDescricaoCadastrarMaquina" id="inputDescricaoCadastrarMaquina" value="" class="form-control">    
                    </div>
                    <div class="col-sm-6">
                        <label for="labelApelidoCadastrarMaquina">Apelido:</label>
                        <input id="inputApelidoCadastrarMaquina" type="text" name="inputApelidoCadastrarMaquina" value="" class="form-control">    
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-6 mb-2">
                        <label for="labelSetorCadastrarMaquina">Setor:</label>
                        <select class="form-control" id="selectSetorCadastrarMaquina" name="selectSetorCadastrarMaquina">
                            <option value="" selected disabled hidden></option>  
                            <option>Administrativo</option>
                            <option>Corte e estamparia</option>
                            <option>Solda</option>
                            <option>Montagem</option>
                            <option>Pintura</option>
                            <option>Carpintaria</option>
                            <option>Almoxarifado</option>
                            <option>Usinagem</option>
                            <option>Manutenção</option>
                            <option>Forjaria</option>
                            <option>Serra</option>
                            <option>Corte</option>
                            <option>Serralheria</option>
                            <option value="Equipamentos de Movimentação">Equipamentos de Movimentação</option>
                            <option>Qualidade</option>
                        </select>
                    </div>
                </div>
                <h6 class="m-0 font-weight-bold text-primary">Preventiva</h6>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <label for="habilitar-preventiva">Habilitar planejamento</label>
                        <input class="form-control" type="checkbox" name="habilitar-preventiva" id="habilitar-preventiva" onchange="toggleCampos()">
                    </div>
                    <div class="col-md-6">
                        <label for="criticidade">Criticidade</label>
                        <select class="form-control" name="criticidade" id="criticidade" disabled>
                            <option>A</option>
                            <option>B</option>
                            <option>C</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cadastrar_maquina" type="submit" class="btn btn-primary btn-block">Salvar</button>
            </div>
        </div>
    </div>
</div>

<div id="mensagem"></div>

{% endblock %}

{% block scripts %}

<!-- Script de mensagem -->
<script src="static/js/mensagem.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>


<!-- Page level plugins -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="static/js/demo/datatables-demo.js"></script>


<!-- Exibição dos Modais -->
<script>
    function modalDocumento(codigo_maquina) {    
        
        window.codigo_maquina = codigo_maquina; // Definir o código de máquina na variável global
        
        listarPdf(); // Chama a função para listar os PDFs associados   

    }

    function modal_transformar_preventiva(codigo_maquina) {        

        window.codigo_maquina = codigo_maquina; // Definir o código de máquina na variável global
        
        console.log(codigo_maquina);

        $('#label_maquina_preventiva').text("Deseja transforma o código " + codigo_maquina + " em máquina preventiva? Se sim, defina o nível de criticidade da máquina")

        $('#transformar_codigo_preventivo').val(codigo_maquina)

        $('#modal_transformar_preventiva').modal('show');

    }

    function modal_editar_maquina(codigo_maquina) {        

        window.codigo_maquina = codigo_maquina; // Definir o código de máquina na variável global

        console.log(codigo_maquina);

        $.ajax({
            type: 'POST',  // Método da requisição (pode ser GET, POST, etc.)
            url: '/modal-editar-maquina',  // URL do backend onde irá processar a exclusão da máquina
            data: JSON.stringify(codigo_maquina),  // Dados a serem enviados para o servidor (nesse caso, o código da máquina)
            contentType:'application/json',
            success: function(response) {
                // Aqui você pode tratar a resposta do servidor, caso necessário
                console.log(response);
                
                $('#editar_codigo').val(response.codigo);
                $('#editar_tombamento').val(response.tombamento);
                $('#editar_descricao').val(response.descricao);
                $('#editar_apelido').val(response.apelido);

                $('#editar_setor').val(response.setor);

                $('#modal_editar_maquina').modal('show');

            },
            error: function(error) {
                // Caso ocorra algum erro na requisição, você pode tratar aqui
                console.log('Erro na requisição:', error);
            }
            
        });

        }
    
    function modal_editar_maquina_preventiva(codigo_maquina) {        

        window.codigo_maquina = codigo_maquina; // Definir o código de máquina na variável global

        console.log(codigo_maquina);

        $.ajax({
            type: 'POST',  // Método da requisição (pode ser GET, POST, etc.)
            url: '/modal-editar-maquina-preventiva',  // URL do backend onde irá processar a exclusão da máquina
            data: JSON.stringify(codigo_maquina),  // Dados a serem enviados para o servidor (nesse caso, o código da máquina)
            contentType:'application/json',
            success: function(response) {
                // Aqui você pode tratar a resposta do servidor, caso necessário
                console.log(response);
                
                $('#editar_codigo_preventivas').val(response.codigo);
                $('#editar_tombamento_preventivas').val(response.tombamento);
                $('#editar_descricao_preventivas').val(response.descricao);
                $('#editar_setor_preventivas').val(response.setor);

                $('#editar_apelido_preventivas').val(response.apelido);
                $('#editar_periodicidade').val(response.periodicidade);
                $('#editar_manut_inicial').val(response.manutencao_inicial);

                $('#modal_editar_maquina_preventivas').modal('show');

            },
            error: function(error) {
                // Caso ocorra algum erro na requisição, você pode tratar aqui
                console.log('Erro na requisição:', error);
            }
            
        });
    }

    function modalExclusao(codigo_maquina) {
        // Exibir o modal
        $('#modalExclusao').modal('show');

        // Armazenar o código da máquina em uma variável
        var codigoMaquina = codigo_maquina;

        // Adicionar um evento de clique ao botão "Excluir" do modal
        $('#btnExcluir').click(function() {
            // Realizar a requisição AJAX para o backend
            $.ajax({
                type: 'POST',  // Método da requisição (pode ser GET, POST, etc.)
                url: '/excluir-maquina',  // URL do backend onde irá processar a exclusão da máquina
                data: { codigo_maquina: codigoMaquina },  // Dados a serem enviados para o servidor (nesse caso, o código da máquina)
                success: function(response) {
                    // Aqui você pode tratar a resposta do servidor, caso necessário
                    console.log(response);
                    // Fechar o modal após a requisição ser enviada
                    $('#modalExclusao').modal('hide');
                    // Recarregar a página após a exclusão ser concluída
                    location.reload();
                },
                error: function(error) {
                    // Caso ocorra algum erro na requisição, você pode tratar aqui
                    console.log('Erro na requisição:', error);
                    location.reload();
                }
                
            });
            
        });
    }

    function modalPreventiva(codigo_maquina) {
        // Exibir o modal
        $('#modalPreventiva').modal('show');

        // Armazenar o código da máquina em uma variável
        var codigoMaquina = codigo_maquina;

        // Adicionar um evento de clique ao botão "Excluir" do modal
        $('#btnExcluirPreventiva').click(function() {
            // Realizar a requisição AJAX para o backend
            $.ajax({
                type: 'POST',  // Método da requisição (pode ser GET, POST, etc.)
                url: '/excluir-preventiva',  // URL do backend onde irá processar a exclusão da máquina
                data: { codigo_maquina: codigoMaquina },  // Dados a serem enviados para o servidor (nesse caso, o código da máquina)
                success: function(response) {
                    // Aqui você pode tratar a resposta do servidor, caso necessário
                    console.log(response);
                    // Fechar o modal após a requisição ser enviada
                    $('#modalPreventiva').modal('hide');
                    
                    var alertSuccess = $('<div class="alert alert-success position-absolute" role="alert">' + codigoMaquina +' não é mais máquina preventiva</div>');
                    $('#seu-container-de-alertas').append(alertSuccess); // Substitua 'seu-container-de-alertas' pelo ID ou seletor apropriado

                    alertSuccess.css({
                        'top': '20px',
                        'transition': 'top 0.5s ease-in-out' // Adiciona uma transição de 0.5 segundos com efeito ease-in-out
                    });

                    // Aguarda 3 segundos e esconde a mensagem
                    setTimeout(function () {
                        alertSuccess.css('top', '-204px'); // Define a posição para esconder a mensagem
                    }, 1000); // 3000 milissegundos = 3 segundos

                    setTimeout(function() {
                        location.reload();
                    }, 1000);
                },
                error: function(error) {
                    // Caso ocorra algum erro na requisição, você pode tratar aqui
                    console.log('Erro na requisição:', error);
                }
                
            });
            
        });
    }
</script>


<!-- Script de Inserir documento -->
<script>

    document.getElementById('inputGroupFile04').addEventListener('change', function(e) {
            var fileName = e.target.files[0].name;
            document.getElementById('inputGroupFile04Label').innerHTML = fileName;
    });

    function uploadPdf() {
        var fileInput = document.getElementById("inputGroupFile04");
        var file = fileInput.files[0];

        if (file) {
            var formData = new FormData();
            formData.append('pdfFile', file); // 'pdfFile' é o nome do campo que o backend espera receber

            $.ajax({
                url: 'testes_envio_pdf/' + window.codigo_maquina, // Adicione a barra antes de 'codigo_maquina'
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    
                    // Aqui você pode lidar com a resposta do backend, se necessário
                    var pdfTableBody = document.getElementById("pdfTableBody");
                    var newRow = pdfTableBody.insertRow();
                    
                    // Após o envio bem-sucedido, você pode adicionar uma nova linha à tabela com o link para download e botão de remoção.
                    var pdfTableBody = document.getElementById("pdfTableBody");
                    var newRow = pdfTableBody.insertRow();
                    
                    // Coluna para o nome do arquivo
                    var fileNameCell = newRow.insertCell(0);
                    fileNameCell.textContent = file.name;

                    // Coluna para o link de download
                    var downloadCell = newRow.insertCell(1);
                    var downloadLink = document.createElement("a");
                    downloadLink.href = response; // Defina o link apropriado

                    downloadCell.style.textAlign = "center"

                    var downloadIcon = document.createElement("i");
                    downloadIcon.className = "fas fa-download"; // Classe do ícone de download do Font Awesome
                    downloadCell.classList.add("nome-download-cell");
                    downloadLink.appendChild(downloadIcon);

                    downloadCell.appendChild(downloadLink);

                    // Coluna para o botão de remoção
                    var removeCell = newRow.insertCell(2);
                    var removeButton = document.createElement("button");

                    removeButton.className = "btn btn-danger"

                    removeCell.style.textAlign = "center"

                    removeButton.textContent = "Remover";
                    removeButton.onclick = function() {
                        pdfTableBody.removeChild(newRow);
                        // Aqui você deve implementar a lógica para remover o arquivo do backend.
                    };
                    removeCell.classList.add("remove-cell");
                    removeButton.classList.add("remove-button");
                    removeCell.appendChild(removeButton);
                },
                error: function(error) {
                    console.error('Erro ao fazer o upload do arquivo: ', error);
                }
            });
        }
    }

    function listarPdf() {
        var pdfTableBody = document.getElementById("pdfTableBody");
        pdfTableBody.innerHTML = "";

        // Fazer uma requisição ao backend para obter os URLs dos PDFs associados à máquina
        var requestUrl = `/mostrar_pdf/${window.codigo_maquina}`;
        
        // Fazer uma requisição AJAX
        $.ajax({
            url: requestUrl,            
            type: 'GET',
            cache: false, // Adicione essa linha

            success: function(response) {
                
                var nome_arquivo = response.nome_arquivo;
                var pdfUrls = response.pdfUrls;

                pdfUrls.forEach(function(pdfUrl, index) {
                    var newRow = pdfTableBody.insertRow();

                    var fileNameCell = newRow.insertCell(0);
                    fileNameCell.textContent = extractFileNameFromUrl(pdfUrl);
                    fileNameCell.style.display = 'none';

                    var nomeArquivoCell = newRow.insertCell(1);
                    nomeArquivoCell.textContent = response.nome_arquivo[index]; // Use o índice para acessar o nome correto

                    nomeArquivoCell.classList.add("nome-arquivo-cell");

                    var downloadCell = newRow.insertCell(2);
                    var downloadLink = document.createElement("a");
                    downloadLink.href = pdfUrl;
                    
                    var downloadIcon = document.createElement("i");
                    downloadIcon.className = "fas fa-download"; // Classe do ícone de download do Font Awesome

                    downloadCell.style.textAlign = "center"

                    downloadCell.classList.add("nome-download-cell");
                    downloadLink.appendChild(downloadIcon);

                    downloadCell.appendChild(downloadLink);

                    var removeCell = newRow.insertCell(3);
                    var removeButton = document.createElement("button");

                    removeButton.className = "btn btn-danger"

                    removeCell.style.textAlign = "center"

                    removeButton.textContent = "Remover";
                    removeButton.onclick = function() {
                        removerPdf(response.nome_arquivo[index]); // Chamar a função de remoção passando o nome do arquivo
                    };
                    removeCell.classList.add("remove-cell"); //btn btn-danger
                    removeButton.classList.add("remove-button");
                    removeCell.appendChild(removeButton);
                });
                $('#modalDocumento').modal('show');
            },
            
            error: function(error) {
                console.error('Erro ao obter os URLs dos PDFs: ', error);
            }
        });
    }

    // Função para extrair o nome do arquivo a partir do URL
    function extractFileNameFromUrl(url) {
        var segments = url.split("/");
        return segments[segments.length - 1];
    }

    function removerPdf(nomeArquivo) {
        var requestUrl = `/remover_pdf/${window.codigo_maquina}/${encodeURIComponent(nomeArquivo)}`;
        $.ajax({
            url: requestUrl,
            type: 'DELETE',
            success: function(response) {
                // Remover a linha da tabela com base no nome do arquivo
                var pdfTableBody = document.getElementById("pdfTableBody");
                var rows = pdfTableBody.getElementsByTagName("tr");

                for (var i = 0; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName("td");
                    if (cells.length >= 1 && cells[0].textContent === nomeArquivo) {
                        pdfTableBody.removeChild(rows[i]);
                        break;
                    }
                }

                console.log(response.message);
                // Após remover o PDF, atualize a lista no modal
                listarPdf();
            },
            error: function(error) {
                console.error('Erro ao remover o PDF: ', error);
                hideLoading();

            }
        });
    }

</script>

<!-- Botão de transformar_maquina_preventiva desabilitado -->
<script>
    // Obtém referências aos elementos do DOM
    var criticidadeSelect = document.getElementById('transformar_criticidade');
    var enviarBtn = document.getElementById('transformar_maquina_preventiva');

    // Adiciona um ouvinte de evento de mudança ao elemento select
    criticidadeSelect.addEventListener('change', function () {
        // Habilita ou desabilita o botão com base na seleção da criticidade
        enviarBtn.disabled = criticidadeSelect.value === '';
    });
</script>

<!-- <script>
     // Selecionar o elemento do botão de fechar
     var closeButton = document.querySelector(".tela .close");
     var modal = document.querySelector(".tela");
    // Função para fechar o modal
    function fecharModal() {
        modal.style.display = "none";
    }

    // Configurar evento de clique para fechar o modal quando o botão de fechar for clicado
    closeButton.addEventListener("click", fecharModal);

    $(document).ready(function() {
    // Ao clicar no botão "Fechar" do modal
        $('.tela').on('click', '.close', function() {
            // Esconder o modal
            $('.tela').hide();
    });
        $('.docIcon').on('click', function() {
            $('.tela').show();
    });
    }); 
</script> -->

<script>
    function toggleCampos() {
      
        var checkboxHabilitarPreventiva = $('#habilitar-preventiva').is(':checked') ;

        if (checkboxHabilitarPreventiva === true) {
            document.getElementById('criticidade').disabled = false;
        }
        else {
            document.getElementById('criticidade').disabled = true;
        }

        return checkboxHabilitarPreventiva;

    }
    
    // Chamada inicial para garantir que os campos estejam corretamente habilitados/desabilitados ao carregar a página
    toggleCampos();

</script>
  
<!-- <script>
    var maquinaParadaCheckbox = document.getElementById('cadastrar-preventiva');
    var maquinaParadaHiddenInput = document.querySelector('input[name="cadastrar-preventiva"][type="hidden"]');
  
    maquinaParadaCheckbox.addEventListener('change', function() {
      if (this.checked) {
        maquinaParadaHiddenInput.value = "true";
      } else {
        maquinaParadaHiddenInput.value = "false";
      }
    });
</script> -->

<script>

    $("#transformar_maquina_preventiva").click(function () {

    var codigo_preventivas = $('#transformar_codigo_preventivo').val();
    var classificacao = $('#transformar_criticidade').val();

    var data = {
        codigo_preventivas: codigo_preventivas,
        classificacao: classificacao
    };

    $.ajax({
        type: 'POST',  // Método da requisição (pode ser GET, POST, etc.)
        url: '/transformar-maquina',  // URL do backend onde irá processar a exclusão da máquina
        data: JSON.stringify(data),  // Dados a serem enviados para o servidor (nesse caso, o código da máquina)
        contentType:'application/json',
        success: function(response) {
            // Aqui você pode tratar a resposta do servidor, caso necessário
            $('#modal_transformar_preventiva').modal('hide');

            var alertSuccess = $('<div class="alert alert-success position-absolute" role="alert">' + codigo_preventivas +' alterada para máquina preventiva com sucesso ✅</div>');
            $('#seu-container-de-alertas').append(alertSuccess); // Substitua 'seu-container-de-alertas' pelo ID ou seletor apropriado

            alertSuccess.css({
                'top': '20px',
                'transition': 'top 0.5s ease-in-out' // Adiciona uma transição de 0.5 segundos com efeito ease-in-out
            });

            // Aguarda 3 segundos e esconde a mensagem
            setTimeout(function () {
                alertSuccess.css('top', '-204px'); // Define a posição para esconder a mensagem
            }, 1000); // 3000 milissegundos = 3 segundos

            setTimeout(function() {
                location.reload();
            }, 1000);
        },
        error: function(error) {
            // Caso ocorra algum erro na requisição, você pode tratar aqui
            console.log('Erro na requisição:', error);
        }
        
    });
    });


    $("#envio-edicao-maquina-preventiva").click(function () {

        var codigo_preventivas = $('#editar_codigo_preventivas').val();
        var tombamento_preventivas = $('#editar_tombamento_preventivas').val();
        var descricao_preventivas = $('#editar_descricao_preventivas').val();
        var setor_preventivas = $('#editar_setor_preventivas').val();
        var apelido_preventivas = $('#editar_apelido_preventivas').val();

        var data = {
            codigo_preventivas: codigo_preventivas,
            tombamento_preventivas: tombamento_preventivas,
            descricao_preventivas: descricao_preventivas,
            apelido_preventivas: apelido_preventivas
        };

        $.ajax({
            type: 'POST',  // Método da requisição (pode ser GET, POST, etc.)
            url: '/envio-edicao-maquina-preventiva',  // URL do backend onde irá processar a exclusão da máquina
            data: JSON.stringify(data),  // Dados a serem enviados para o servidor (nesse caso, o código da máquina)
            contentType:'application/json',
            success: function(response) {
                // Aqui você pode tratar a resposta do servidor, caso necessário
                $('#modal_editar_maquina_preventivas').modal('hide');

                var alertSuccess = $('<div class="alert alert-success position-absolute" role="alert">Dados da Máquina Preventiva alterada com sucesso ✅</div>');
                $('#seu-container-de-alertas').append(alertSuccess); // Substitua 'seu-container-de-alertas' pelo ID ou seletor apropriado

                alertSuccess.css({
                    'top': '20px',
                    'transition': 'top 0.5s ease-in-out' // Adiciona uma transição de 0.5 segundos com efeito ease-in-out
                });

                // Aguarda 3 segundos e esconde a mensagem
                setTimeout(function () {
                    alertSuccess.css('top', '-204px'); // Define a posição para esconder a mensagem
                }, 1000); // 3000 milissegundos = 3 segundos

                setTimeout(function() {
                    location.reload();
                }, 1000);
            },
            error: function(error) {
                // Caso ocorra algum erro na requisição, você pode tratar aqui
                console.log('Erro na requisição:', error);
            }
            
        });
    });


    $("#envio-edicao-maquina").click(function () {

    var codigo = $('#editar_codigo').val();
    var tombamento = $('#editar_tombamento').val();
    var descricao = $('#editar_descricao').val();
    var apelido = $('#editar_apelido').val();

    var data = {
        codigo: codigo,
        tombamento: tombamento,
        descricao: descricao,
        apelido: apelido
    };

    $.ajax({
        type: 'POST',  // Método da requisição (pode ser GET, POST, etc.)
        url: '/envio-edicao-maquina',  // URL do backend onde irá processar a exclusão da máquina
        data: JSON.stringify(data),  // Dados a serem enviados para o servidor (nesse caso, o código da máquina)
        contentType:'application/json',
        success: function(response) {
            // Aqui você pode tratar a resposta do servidor, caso necessário
            $('#modal_editar_maquina').modal('hide');

            var alertSuccess = $('<div class="alert alert-success position-absolute" role="alert">Dados da Máquina alterada com sucesso ✅</div>');
            $('#seu-container-de-alertas').append(alertSuccess); // Substitua 'seu-container-de-alertas' pelo ID ou seletor apropriado

            alertSuccess.css({
                'top': '20px',
                'transition': 'top 0.5s ease-in-out' // Adiciona uma transição de 0.5 segundos com efeito ease-in-out
            });

            // Aguarda 3 segundos e esconde a mensagem
            setTimeout(function () {
                alertSuccess.css('top', '-204px'); // Define a posição para esconder a mensagem
            }, 1000); // 3000 milissegundos = 3 segundos

            setTimeout(function() {
                location.reload();
            }, 1000);
        },
        error: function(error) {
            // Caso ocorra algum erro na requisição, você pode tratar aqui
            console.log('Erro na requisição:', error);
        }
        
        });
    });

</script>

<!-- Modal para cadastrar máquina nova -->
<script>

    document.getElementById('buttonCadastrarMaquina').addEventListener('click', function(e) {

        $('#modalCadastrarMaquina').modal('show');

    });

    // Botão de cadastrar

    function enviarCadastroMaquina(codigo_diponivel) {

        if (codigo_diponivel) {

            const codigo = document.getElementById('inputCodigoCadastrarMaquina').value;
            
            if (codigo.trim() === '') {
                exibirMensagem('aviso','Preencha o campo de código!')
                return;
            }


            data = {
                'codigo': document.getElementById('inputCodigoCadastrarMaquina').value,
                'tombamento': document.getElementById('inputTombamentoCadastrarMaquina').value,
                'descricao': document.getElementById('inputDescricaoCadastrarMaquina').value,
                'apelido': document.getElementById('inputApelidoCadastrarMaquina').value,
                'setor': document.getElementById('selectSetorCadastrarMaquina').value,
                'preventiva': toggleCampos(),
                'criticidade': document.getElementById('criticidade').value
            };
            
            
            $.ajax({
                type: 'POST',  // Método da requisição (pode ser GET, POST, etc.)
                url: '/cadastrar-maquina',  // URL do backend onde irá processar a exclusão da máquina
                data: JSON.stringify(data),  // Dados a serem enviados para o servidor (nesse caso, o código da máquina)
                contentType:'application/json',
                success: function() {
                    exibirMensagem('sucesso','Máquina cadastrada!')
                    $('#modalCadastrarMaquina').modal('hide');
                    
                    $('#inputCodigoCadastrarMaquina').val('');
                    $('#inputTombamentoCadastrarMaquina').val('');
                    $('#inputDescricaoCadastrarMaquina').val('');
                    $('#inputApelidoCadastrarMaquina').val('');
                    $('#selectSetorCadastrarMaquina').val('');

                    $('#helperDangerInputCodigoCadastrarMaquina').hide()
                    $('#helperSucessInputCodigoCadastrarMaquina').hide()

                },
                error: function(error) {
                    // Caso ocorra algum erro na requisição, você pode tratar aqui
                    console.log('Erro na requisição:', error);
                }

                
            });
        
        } else {
            console.log(codigo_diponivel)
        }


    };

</script>

<!-- Verificador de código existente -->
<script>

    document.getElementById('inputCodigoCadastrarMaquina').addEventListener('input', function() {
        var codigo = this.value;

        const button = document.getElementById('cadastrar_maquina');

        $.ajax({
            type: 'POST',  // Método da requisição (pode ser GET, POST, etc.)
            url: '/verificar-codigo-existente',  // URL do backend onde irá processar a exclusão da máquina
            data: JSON.stringify(codigo),  // Dados a serem enviados para o servidor (nesse caso, o código da máquina)
            contentType:'application/json',
            success: function(response) {
                console.log(response);

                if (codigo === '') {
                    $('#helperDangerInputCodigoCadastrarMaquina').hide()
                    $('#helperSucessInputCodigoCadastrarMaquina').hide()

                } else {
                    if (response === 'Código disponível') {
                        $('#helperSucessInputCodigoCadastrarMaquina').show()
                        $('#helperDangerInputCodigoCadastrarMaquina').hide()
                    } else {
                        $('#helperDangerInputCodigoCadastrarMaquina').show()
                        $('#helperSucessInputCodigoCadastrarMaquina').hide()
                    }
                }
               
            },
            error: function(error) {
                // Caso ocorra algum erro na requisição, você pode tratar aqui
                console.log('Erro na requisição:', error);
            }
            
        });

        document.getElementById('cadastrar_maquina').addEventListener('click', function() {
            enviarCadastroMaquina(codigo_diponivel); 
        });

        console.log(codigo)
    });

</script>


{% endblock %}
