{% extends "user/layout.html" %}
{% block body %}

<style>
    th, td {
      text-align: center;
      width: auto;
    }
</style>

{% with messages = get_flashed_messages()  %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="sucess">
    <strong>Sucesso!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="sucess" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div id = "tabela" class="container-fluid">
    <div class="row justify-content-md-center">
        <div class = "board" style="overflow-x: auto;">
            <div id = "titulo" class="row">
                <h1 class="visao2">Máquinas cadastradas</h1>
            </div>
            <div class="table-responsive">
                <table id="table2" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Setor</th>
                            <th>Descrição</th>
                            <th>Preventiva</th>
                            <th>Menu</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>
                                {% if  row[3] == 'Y' %}
                                    <i class="fas fa-check-circle habilitado"></i>
                                {% else %}
                                    <i class="fas fa-times-circle desabilitado"></i>
                                {% endif %}
                            </td>
                            <!-- <td>
                                <button type="button" class="btn btn-primary" onclick="abrirModal('{{ row[0] }}')">Docs</button>
                            </td> -->                           
                            <td style="padding-bottom: 0px; padding-left: 0; padding-right: 0; padding-top: 8px;">
                                <div class="dropdown">
                                    <button style = 'background-color: rgb(255, 255, 255,0);'class="btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                    <div class="dropdown-menu" class="dropdown-item" aria-labelledby="dropdownMenu2">
                                        {% if row[3] == 'Y' %}
                                        <a id="dropdown_os" class="dropdown-item" href="/editar-maquina-preventiva/{{row[0]}}">
                                            <img src="static/icons/editar-codigo.png" alt="Ícone de Manutenção" title="Editar informações da máquina preventiva" class="icon-tamanho-padrao"> 
                                        </a>
                                        {% else %}
                                        <a id="dropdown_os" class="dropdown-item" href="/maquina-52-semanas/{{row[0]}}">
                                            <img src="static/icons/manutencao.png" alt="Ícone de Manutenção" title="Transformar a manutenção em preventiva" class="icon-tamanho-padrao"> 
                                        </a>
                                        <a id="dropdown_os" class="dropdown-item" href="/editar-maquina/{{row[0]}}">
                                            <img src="static/icons/editar-codigo.png" alt="Ícone de Manutenção" title="Editar informações da máquina" class="icon-tamanho-padrao"> 
                                        </a>
                                        {% endif %}
                                        <!-- Exluir máquina -->
                                        <a id="dropdown_os" class="dropdown-item" href="#" onclick="modalExclusao('{{ row[0] }}')">
                                            <i class="fas fa-trash" title="Excluir máquina" id="meu-botao"></i>
                                        </a>
                                        <!-- Parar a preventiva da máquina -->
                                        {% if row[3] == 'Y' %}
                                        <a id="dropdown_os" class="dropdown-item" href="#" onclick="modalPreventiva('{{ row[0] }}')">
                                            <img src="static/icons/stop-preventiva.png" alt="Ícone de Manutenção" title="Remover do planejamento anual" class="icon-tamanho-padrao"> 
                                        </a>
                                        {% else %}
                                        <a></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para excluir maquina -->
<div class="modal fade" id="modalExclusao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">
                    <i class="fas fa-exclamation-triangle text-warning"></i> <!-- Ícone de atenção -->
                    Atenção
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            Tem certeza que quer remover essa máquina do cadastro? Ela também será removida do planejamento de 52 semanas. 
            Esse processo é irreversível.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btnExcluir">Excluir</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para parar a preventiva da máquina -->
<div class="modal fade" id="modalPreventiva" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">
                    <i class="fas fa-exclamation-triangle text-warning"></i> <!-- Ícone de atenção -->
                    Atenção
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            Tem certeza que quer remover essa máquina do planejamento? O histórico dela permanecerá, porém elá não estará nas próximas preventivas. 
            Esse processo é irreversível.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btnExcluirPreventiva">Excluir</button>
            </div>
        </div>
    </div>
</div>

<!-- Script para modal de exclusão de máquina -->
<script>
    function modalExclusao(codigo_maquina) {
        // Exibir o modal
        $('#modalExclusao').modal('show');

        // Armazenar o código da máquina em uma variável
        var codigoMaquina = codigo_maquina;

        // Adicionar um evento de clique ao botão "Excluir" do modal
        $('#btnExcluir').click(function() {
            showLoading();
            // Realizar a requisição AJAX para o backend
            $.ajax({
                type: 'POST',  // Método da requisição (pode ser GET, POST, etc.)
                url: '/excluir-maquina',  // URL do backend onde irá processar a exclusão da máquina
                data: { codigo_maquina: codigoMaquina },  // Dados a serem enviados para o servidor (nesse caso, o código da máquina)
                success: function(response) {
                    // Aqui você pode tratar a resposta do servidor, caso necessário
                    console.log(response);
                    // Fechar o modal após a requisição ser enviada
                    $('#modalExclusao').modal('hide');
                    hideLoading();
                    // Recarregar a página após a exclusão ser concluída
                    location.reload();
                },
                error: function(error) {
                    // Caso ocorra algum erro na requisição, você pode tratar aqui
                    console.log('Erro na requisição:', error);
                    hideLoading();
                }
                
            });
            
        });
    }
</script>

<!-- Script para modal de exclusão de preventiva de máquina -->
<script>
    function modalPreventiva(codigo_maquina) {
        // Exibir o modal
        $('#modalPreventiva').modal('show');

        // Armazenar o código da máquina em uma variável
        var codigoMaquina = codigo_maquina;

        // Adicionar um evento de clique ao botão "Excluir" do modal
        $('#btnExcluirPreventiva').click(function() {
            showLoading();
            // Realizar a requisição AJAX para o backend
            $.ajax({
                type: 'POST',  // Método da requisição (pode ser GET, POST, etc.)
                url: '/excluir-preventiva',  // URL do backend onde irá processar a exclusão da máquina
                data: { codigo_maquina: codigoMaquina },  // Dados a serem enviados para o servidor (nesse caso, o código da máquina)
                success: function(response) {
                    // Aqui você pode tratar a resposta do servidor, caso necessário
                    console.log(response);
                    // Fechar o modal após a requisição ser enviada
                    $('#modalPreventiva').modal('hide');
                    
                    // Recarregar a página após a exclusão ser concluída
                    location.reload();
                    hideLoading();
                },
                error: function(error) {
                    // Caso ocorra algum erro na requisição, você pode tratar aqui
                    console.log('Erro na requisição:', error);
                    hideLoading();
                }
                
            });
            
        });
    }
</script>

{% endblock %}
