{% extends "user/layout.html" %}
{% block body %}

{% block voltar %}
{% endblock %}
  {% with messages = get_flashed_messages()  %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert-success alert-dismissible fade show" id="alerta_Os" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<div class="col-md-4 offset-md-4">
  <div id ="formulario_abertura" class="card card-body">
    <div id = 'abertura_titulo' class="row justify-content-center align-items-center mb-3">
      <h3>Abrir OS</h3>
    </div>  
    <form action="{{url_for('routes.add_student')}}" method="POST" enctype="multipart/form-data">

      <div class="form-group">
        <label for="setor">Setor</label>
        <select class="form-control" id="setor" name="setor" style='padding: .375rem .25rem;' onchange="getMaquinasPorSetor()" required>
          <option value="" selected disabled hidden></option>
          <option value="Administrativo">Administrativo</option>
          <option value="Almoxarifado">Almoxarifado</option>
          <option value="Corte e estamparia">Corte e estamparia</option>
          <option value="Expedição">Expedição</option>
          <option value="Equipamentos de Movimentacao">Equipamentos de Movimentação</option>
          <option value="Solda">Solda</option>
          <option value="Montagem">Montagem</option>
          <option value="Pintura">Pintura</option>
          <option value="Carpintaria">Carpintaria</option>
          <option value="Usinagem">Usinagem</option>
          <option value="Serra">Serra</option>
          <option value="Serralheria">Serralheria</option>
          <option value="Manutenção">Manutenção</option>
          <option value="Manutenção">Forjaria</option>
        </select>
      </div>

      <div class="form-group" id="solicitante-select">
        <label for="solicitante">Solicitante:</label>
          <select class="form-control" sdata-live-search="true" name="solicitante" id="solicitante" required>
            <option value="" selected disabled hidden></option>  
            {% for solicitante in solicitantes %}
            <option value="{{solicitante[0]}}">{{solicitante[0]}}</option>
            {% endfor %}
          </select>
      </div>

      <div class="form-group" id="maquina-select">
        <label for="maquina">Máquina/Local:</label>
          <select class="form-control" sdata-live-search="true" name="maquina" id="maquina" required>
            <option value="" selected disabled hidden></option>  
            {% for maquina in lista_maquinas_ %}
            <option value="{{maquina[0]}}">{{maquina[0]}}</option>
            {% endfor %}
          </select>
      </div>
        
      <div class="form-group">
        <label for="problema">Descrição:</label>
        <textarea id="problema" class="form-control" name="problema" rows="5" cols="39" required placeholder="Descreva o problema..."></textarea>
      </div>
      
      <div class="form-row">
        <div class="form-group">
          <label for="maquina-parada">Máquina parada?</label>
          <label class="switch">
            <input type="checkbox" name="maquina-parada" id="maquina-parada">
            <span class="slider round"></span>
          </label>
        </div>

        <div class="form-group">        
          <label for="risco">Impacto na produção:</label>
          <select class="form-control form-control" id="risco" style='padding: .375rem .25rem;' name="risco" oninput="setImpactoProducao()" required>
            <option value="" selected disabled hidden></option>
            <option>Alto</option>
            <option>Médio</option>
            <option>Baixo</option>
          </select>
        </div>
      </div>

      <div class="file-upload">
        <input class="file-upload__input" type="file" name="imagem" id="imagem" multiple>
        <button class="file-upload__button" type="button" name="imagem" id="imagem">Escolha o Arquivo</button>
        <span class="file-upload__label">Nenhum Arquivo selecionado</span>
      </div>

      <button id = 'salvar' class="btn btn-block">
        Save 
      </button>
      
    </form>
  </div>
</div>



<script>
  function getMaquinasPorSetor() {
    var setorSelect = document.getElementById('setor');
    var maquinaSelect = document.getElementById('maquina');
    var setorSelecionado = setorSelect.value;

    // Limpa as opções atuais do menu de máquinas
    maquinaSelect.innerHTML = '<option value="" selected disabled hidden></option>';

    // Verifica se um setor foi selecionado
    if (setorSelecionado !== '') {
      // Faz uma chamada assíncrona para o servidor Flask
      showLoading()
      $.ajax({
        url: '/maquinas/' + setorSelecionado,
        type: 'GET',
        success: function(data) {
          // Atualiza o menu de máquinas com as opções retornadas do servidor
          for (var i = 0; i < data.length; i++) {
            var option = document.createElement('option');
            option.text = data[i];
            option.value = data[i];
            maquinaSelect.add(option);
          }
          hideLoading();
        }
      });
    }
  }
</script>

<!-- Inicialize o Bootstrap Select -->
<script>
  $(document).ready(function() {
    $('#maquina').select2({
      placeholder: 'Pesquisar máquina',
      allowClear: true,
      width: '100%',
    });
  });

  $(document).ready(function() {
    $('#solicitante').select2({
      placeholder: 'Pesquisar solicitante',
      allowClear: true,
      width: '100%',
    });
  });
</script>

<script>
  var maquinaParadaCheckbox = document.getElementById('maquina-parada');
  var maquinaParadaHiddenInput = document.querySelector('input[name="maquina-parada"][type="hidden"]');

  maquinaParadaCheckbox.addEventListener('change', function() {
    if (this.checked) {
      maquinaParadaHiddenInput.value = "true";
    } else {
      maquinaParadaHiddenInput.value = "false";
    }
  });
</script>

<script>
  function setImpactoProducao() {
      var setorSelect = document.getElementById("setor");
      var riscoSelect = document.getElementById("risco");

      if (setorSelect.value === "Administrativo") {
          riscoSelect.value = "Baixo";
          riscoSelect.disabled = true; // Desabilita o campo "Risco" para o setor "Administrativo"
      } else {
          riscoSelect.disabled = false; // Habilita o campo "Risco" para outros setores
      }
  }

  // Adiciona o evento onchange ao campo "Setor"
  document.getElementById("setor").addEventListener("change", setImpactoProducao);

  // Adiciona o evento onchange ao campo "Risco"
  document.getElementById("risco").addEventListener("change", function() {
      var setorSelect = document.getElementById("setor");
      var riscoSelect = document.getElementById("risco");

      if (setorSelect.value === "Administrativo") {
          riscoSelect.value = "Baixo";
      }
  });
</script>

{% endblock %}