{% extends "user/layout.html" %}
{% block body %}


<div class="row">
  <div class="col-md-4 offset-md-4">
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</div>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <div id ="formulario_abertura" class="card card-body">
      <form action="{{url_for('routes.add_student')}}" method="POST" enctype="multipart/form-data">
        <div class="form-group"> 
          <div id = 'abertura_titulo' class="row"><h3>Abrir OS</h3></div>       
            <label for="setor">Setor</label>
            <select class="form-control form-control" id="setor" name="setor" required>
              <option value="" selected disabled hidden></option>  
              <option>Administrativo</option>
              <option>Estamparia</option>
              <option>Solda</option>
              <option>Montagem</option>
              <option>Pintura</option>
              <option>Carpintaria</option>
              <option>Almoxarifado</option>
              <option>Usinagem</option>
              <option>Serra</option>
              <option>Corte</option>
              <option>Serralheria</option>
            </select>
          </div>
        <div class="form-group">
          <label for="maquina">Máquina ou Local:</label>
          <input type="text" class="form-control" name="maquina" required>
        </div>
        <div class="form-group">
          <label for="problema">Descrição:</label>
          <textarea id="problema" name="problema" rows="5" cols="39" required placeholder=" Descreva o problema..."></textarea>
        </div>
        <div class="form-group">        
          <label for="risco">Risco</label>
          <select class="form-control form-control" id="risco" name="risco" required>
              <option value="" selected disabled hidden></option>  
              <option>Alto</option>
              <option>Médio</option>
              <option>Baixo</option>
          </select>
        </div>
        <div class="form-group">        
          <label for="imagem">Imagem:</label>
          <input type="file" class="form-control-file" id="imagem" name="imagem">
        </div>
        <button id = 'salvar' class="btn btn-block">
          Save 
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}