<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Abertura de Os</title>

    <!-- Custom fonts for this template-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/sb-admin-2.min.css') }}">
    
    <!-- Laebl flutuante -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/label-floating.css') }}">
    
    <!-- Dropdown input list -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropdown.css') }}">

    <!-- Mensagem -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/mensagem.css') }}">

</head>

<body class="bg-gradient-primary">

    <div class="container-fluid h-100">
        
        <div class="row">
            <!-- <div class="card mx-auto text-center o-hidden border-0 shadow-lg my-5"> -->
            <div class="card mx-auto o-hidden border-0 shadow-lg my-5">
                <form id="formularioEnviarOs" method="POST" action="{{url_for('routes.abrir_os')}}" enctype="multipart/form-data">
                    <div class="card-header text-center">
                        <h1 class="h4 text-gray-900">Abertura de OS</h1>
                        <a href="#" data-toggle="modal" data-target="#informativo">
                            <i class="fas fa-question-circle"></i>
                        </a>
                    </div>
                    <div class="card-body p-0">
                        <div class="p-5">
                            <h6 class="m-0 font-weight-bold text-primary mb-4">Informações gerais</h6>
                            <hr>
                            <div class="text-center">
                                <!-- Setor -->
                                <div class="row mb-4">
                                    <div class="col-sm-12 mb-2">
                                        <div class="dropdown w-100" id="dropdown-setor">
                                            <div class="label-float">
                                                <input type="text" class="dropdown-input form-control" name="inputSetor" id="inputSetor" placeholder=" " autocomplete="off" required>
                                                <label>Setor</label>
                                            </div>
                                            <ul class="dropdown-list" id="listSetor">
                                                <li>Administrativo</li>
                                                <li>Almoxarifado</li>
                                                <li>Corte e estamparia</li>
                                                <li>Expedição</li>
                                                <li>Equipamentos de Movimentação</li>
                                                <li>Solda</li>
                                                <li>Montagem</li>
                                                <li>Pintura</li>
                                                <li>Carpintaria</li>
                                                <li>Usinagem</li>  
                                                <li>Serra</li>
                                                <li>Serralheria</li>
                                                <li>Manutenção</li>
                                                <li>Forjaria</li>
                                                <li>Utilidades</li>
                                                <li>Qualidade</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Solicitante-->
                                <div class="row mb-4">
                                    <div class="col-sm-12">
                                        <div class="dropdown w-100" id="dropdown-Solicitante">
                                            <div class="label-float">
                                                <input type="text" class="dropdown-input form-control" name="inputSolicitante" id="inputSolicitante" placeholder=" " autocomplete="off" required>
                                                <label>Solicitante</label>
                                            </div>
                                            <ul class="dropdown-list" id="listSolicitante">
                                                {% for solicitante in solicitantes %}
                                                    <li>{{solicitante[0]}}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="m-0 font-weight-bold text-primary mb-4">Especificações</h6>
                            <hr>
                            <div class="text-center">
                                <!-- Equipamento em falha se o setor for Solda -->
                                <div class="row mb-4" id="campoEquipamentoEmFalha" style="display: none;">
                                    <div class="col-sm-12 mb-2">
                                        <div class="dropdown w-100" id="dropdown-EquipamentoFalha">
                                            <div class="label-float">
                                                <input type="text" class="dropdown-input form-control" name="inputEquipamentoFalha" id="inputEquipamentoFalha" placeholder=" " autocomplete="off">
                                                <label>Equipamento em falha</label>
                                            </div>
                                            <ul class="dropdown-list" id="listEquipamentoFalha">
                                                <li>Máquina de Solda</li>
                                                <li>Monovia</li>
                                                <li>Ferramentas</li>
                                                <li>SO-RB-01 - ROBÔ - KUKA</li>
                                                <li>Outros</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Ferramenta -->
                                <div class="row mb-4" id="campoFerramenta" style="display: none;">
                                    <div class="col-sm-12 mb-2">
                                        <div class="dropdown w-100" id="dropdown-Ferramenta">
                                            <div class="label-float">
                                                <input type="text" class="dropdown-input form-control" name="inputFerramenta" id="inputFerramenta" placeholder=" " autocomplete="off">
                                                <label>Qual ferramenta?</label>
                                            </div>
                                            <ul class="dropdown-list" id="listFerramenta">
                                                <li>Esmerilhadeira</li>
                                                <li>Tocha</li>
                                            </ul>
                                        </div>
                                    </div> 
                                </div>
                                <!-- Máquina ou Local -->
                                <div class="row mb-4" id="campoMaquinaLocal">
                                    <div class="col-sm-12 mb-2">
                                        <div class="dropdown w-100" id="dropdown-MaquinaLocal">
                                            <div class="label-float">
                                                <input type="text" class="dropdown-input form-control" name="inputMaquinaLocal" id="inputMaquinaLocal" placeholder=" " autocomplete="off" required>
                                                <label>Máquina ou local</label>
                                            </div>
                                            <ul class="dropdown-list" id="listMaquinaLocal">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Setor da máquina de solda se o equipamento for máquina de solda -->
                                <div class="row mb-4" id="campoSetorMaquinaSolda" style="display: none;">
                                    <div class="col-sm-12 mb-2">
                                        <div class="dropdown w-100" id="dropdown-campoESetorMaquinaSolda">
                                            <div class="label-float">
                                                <input type="text" class="dropdown-input form-control" name="inputcampoESetorMaquinaSolda" id="inputcampoESetorMaquinaSolda" placeholder=" " autocomplete="off">
                                                <label>Setor da máquina de solda</label>
                                            </div>
                                            <ul class="dropdown-list" id="listcampoESetorMaquinaSolda">
                                                <li>Laterais</li>
                                                <li>Eixos</li>
                                                <li>Içamentos</li>
                                                <li>Plataforma "Esqueleto"</li>
                                                <li>Chassi</li>
                                                <li>Tanque</li>
                                                <li>Caçamba</li>
                                                <li>Serralheria</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Ferramenta se o equipamento for ferramentas -->
                                <div class="row mb-4" id="campoCodigoFerramenta" style="display: none;">
                                    <div class="col-sm-12 mb-2">
                                        <div class="dropdown w-100" id="dropdown-campocampoCodigoFerramenta">
                                            <div class="label-float">
                                                <input type="text" class="dropdown-input form-control" name="inputCodigoFerramenta" id="inputCodigoFerramenta" placeholder=" " autocomplete="off">
                                                <label>Código da ferramenta</label>
                                            </div>
                                        </div>
                                    </div>
                                    <small id="emailHelp" class="form-text text-muted">
                                        Onde encontrar o código da ferramenta.
                                        <a href="#" data-toggle="modal" data-target="#encontrarCodigoFerramenta">
                                            <i class="fas fa-question-circle"></i>
                                        </a>
                                    </small>
                                </div>                            
                                <!-- Descrição -->
                                <div class="row mb-4">
                                    <div class="col-sm-12 mb-2">
                                        <div class="dropdown w-100">
                                            <div class="label-float-textarea">
                                                <textarea class="dropdown-input form-control" name="problemaAparente" id="problemaAparente" cols="20" rows="3" placeholder=" " required></textarea>
                                                <label>Descrição</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Máquina parada e impacto na producao -->
                                <div class="row mb-4">
                                    <div class="col-sm-6 mb-2">
                                        <div class="dropdown" id="checkbox-maquinaParada">
                                            <div class="label-float">
                                                <input type="checkbox" id="checkboxMaquinaParada" name="checkboxMaquinaParada" class="dropdown-input form-control" placeholder=" " autocomplete="off">
                                                <label>Máquina parada?</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-2">
                                        <div class="dropdown" id="checkbox-maquinaParada">
                                            <div class="label-float">
                                                <input type="text" name="inputImpacto" class="dropdown-input form-control" id="inputImpacto" placeholder=" " autocomplete="off" required>
                                                <label>Impacto na produção</label>
                                            </div>
                                            <ul class="dropdown-list" id="listaImpacto">
                                                <li>Alto</li>
                                                <li>Baixo</li>
                                                <li>Médio</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <h6 class="m-0 font-weight-bold text-primary mb-4">Anexos</h6>
                            <hr>
                            <div class="text-center">
                                <!-- Foto -->
                                <div class="row mb-4">
                                    <div class="col-sm-12 mb-4">
                                        <div class="label-float">
                                            <input class="form-control" type="file" name="imagens" id="imagens" placeholder=" " multiple accept="image/*">
                                            <!-- <input class="file-upload__input" type="file" name="imagens" id="imagens" multiple accept="image/*"> -->
                                            <label>Foto</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Vídeo -->
                                <div class="row">
                                    <div class="col-sm-12 mb-4">
                                        <div class="label-float">
                                            <input class="form-control" type="file" name="video" id="video" placeholder=" " accept="video/*">
                                            <label>Vídeo</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button id="btnEnviar" type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <!-- Modal com imagem mostrando onde encontrar o código na ferramenta -->
    <div class="modal fade" id="encontrarCodigoFerramenta" tabindex="-1" role="dialog" aria-labelledby="encontrarCodigoFerramentaLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="encontrarCodigoFerramentalLabel">Onde encontrar o código da ferramenta</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <img class="card-img-top" src="static/img/maquinas.png" alt="Foto">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="informativo" tabindex="-1" role="dialog" aria-labelledby="informativoLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="informativoLabel">Informação importante!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Caso a máquina seja <strong>Paleteiras elétricas</strong>, <strong>Empilhadeiras</strong> ou <strong>Pontes Rolantes</strong>, 
                    a abertura de O.S deve ser feita em "Equipamentos de Movimentação".</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
            </div>
        </div>
    </div>

    <div id="mensagem"></div>

    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>

    <script src="static/js/mensagem.js"></script>

    <!-- Script para inputlist -->    
    <script>
        
        // function configurarDropdown(inputId, listId) {
        //     var inputDropdown = document.getElementById(inputId);
        //     var listaDropdown = document.getElementById(listId);

        //     inputDropdown.addEventListener('focus', function() {
        //         if (inputDropdown.readOnly) {
        //             listaDropdown.style.display = 'none';
        //         } else {
        //             listaDropdown.style.display = 'block';
        //         }
                
        //     });

        //     inputDropdown.addEventListener('blur', function() {
        //         // Aguarde um curto período antes de ocultar a lista para permitir que o clique no item seja processado
        //         setTimeout(function() {
        //             listaDropdown.style.display = 'none';
        //         }, 200);
        //     });

        //     listaDropdown.addEventListener('click', function(event) {
        //         if (event.target.tagName === 'LI') {
        //             inputDropdown.value = event.target.textContent;
                    
        //             // Oculte a lista após um pequeno atraso para garantir que o valor do input seja atualizado antes
        //             setTimeout(function() {
        //                 listaDropdown.style.display = 'none';
        //             }, 100);
        //         }
        //     });

        //     inputDropdown.addEventListener('input', function() {
        //         var input = this.value.trim().toLowerCase();
        //         var itens = listaDropdown.getElementsByTagName('li');

        //         for (var i = 0; i < itens.length; i++) {
        //             var textoItem = itens[i].textContent.toLowerCase();
        //             var itemVisivel = textoItem.indexOf(input) > -1;
        //             itens[i].style.display = itemVisivel ? 'block' : 'none';
        //         }

        //         listaDropdown.style.display = 'block';
        //     });
        // }

        // configurarDropdown('inputSetor', 'listSetor');
        // configurarDropdown('inputSolicitante', 'listSolicitante');
        // configurarDropdown('inputMaquinaLocal', 'listMaquinaLocal');
        // configurarDropdown('inputEquipamentoFalha', 'listEquipamentoFalha');
        // configurarDropdown('inputcampoESetorMaquinaSolda', 'listcampoESetorMaquinaSolda');
        // configurarDropdown('inputFerramenta', 'listFerramenta');
        // configurarDropdown('inputImpacto', 'listaImpacto');

        function configurarDropdown(inputId, listId) {
            var inputDropdown = document.getElementById(inputId);
            var listaDropdown = document.getElementById(listId);
            var itens = listaDropdown.getElementsByTagName('li');
            var valorAnterior = "";

            inputDropdown.addEventListener('focus', function () {
                if (inputDropdown.readOnly) {
                    listaDropdown.style.display = 'none';
                } else {
                    listaDropdown.style.display = 'block';
                }
            });

            inputDropdown.addEventListener('blur', function () {
                // Aguarde um curto período antes de ocultar a lista para permitir que o clique no item seja processado
                setTimeout(function () {
                    if (!correspondeAItem()) {
                        // Se o valor não corresponder a um item na lista, redefina para o valor anterior
                        inputDropdown.value = valorAnterior;
                    }
                    listaDropdown.style.display = 'none';
                }, 200);
            });

            listaDropdown.addEventListener('click', function (event) {
                if (event.target.tagName === 'LI') {
                    valorAnterior = event.target.textContent;
                    inputDropdown.value = valorAnterior;

                    // Oculte a lista após um pequeno atraso para garantir que o valor do input seja atualizado antes
                    setTimeout(function () {
                        listaDropdown.style.display = 'none';
                    }, 100);
                }
            });

            inputDropdown.addEventListener('input', function () {
                var input = this.value.trim().toLowerCase();
                var itens = listaDropdown.getElementsByTagName('li');

                for (var i = 0; i < itens.length; i++) {
                    var textoItem = itens[i].textContent.toLowerCase();
                    var itemVisivel = textoItem.indexOf(input) > -1;
                    itens[i].style.display = itemVisivel ? 'block' : 'none';
                }

                // Exiba a lista apenas se houver correspondência com os itens
                var correspondenciaItens = Array.from(itens).some(function (item) {
                    var textoItem = item.textContent.toLowerCase();
                    var itemVisivel = textoItem.includes(input);
                    item.style.display = itemVisivel ? 'block' : 'none';
                    return itemVisivel;
                });

                listaDropdown.style.display = correspondenciaItens ? 'block' : 'none';
            });

            function correspondeAItem() {
                var input = inputDropdown.value.trim().toLowerCase();
                return Array.from(itens).some(function (item) {
                    return item.textContent.toLowerCase() === input;
                });
            }
        }

        configurarDropdown('inputSetor', 'listSetor');
        configurarDropdown('inputSolicitante', 'listSolicitante');
        configurarDropdown('inputMaquinaLocal', 'listMaquinaLocal');
        configurarDropdown('inputEquipamentoFalha', 'listEquipamentoFalha');
        configurarDropdown('inputcampoESetorMaquinaSolda', 'listcampoESetorMaquinaSolda');
        configurarDropdown('inputFerramenta', 'listFerramenta');
        configurarDropdown('inputImpacto', 'listaImpacto');



    </script>

    <!-- Script para mostrar maquinas de acordo com o setor selecionado -->
    <script>
        var inputDropdown = document.getElementById('inputSetor');
        var listaDropdown = document.getElementById('listSetor');
        var listaMaquinasLocais = document.getElementById('listMaquinaLocal');
        var inputMaquinasLocais = document.getElementById('inputMaquinaLocal');
        
        var inputEquipamentoFalha= document.getElementById('inputEquipamentoFalha');
        
        listaDropdown.addEventListener('click', function(event) {
            if (event.target.tagName === 'LI') {
                inputDropdown.value = event.target.textContent;
                                
                $.ajax({
                    url: '/maquinas/' + event.target.textContent,
                    type: 'GET',
                    success: function(data) {
                        // Atualiza o menu de máquinas com as opções retornadas do servidor
                        console.log(data);
                        // Adiciona os itens à lista

                        listaMaquinasLocais.innerHTML = '';
                        inputMaquinasLocais.value = '';
                        inputEquipamentoFalha.value = '';

                        data.forEach(function(item) {
                            var li = document.createElement('li');
                            li.textContent = item;
                            listaMaquinasLocais.appendChild(li);
                        });
                    }
                });

            
                // Oculte a lista após um pequeno atraso para garantir que o valor do input seja atualizado antes
                setTimeout(function() {
                    listaDropdown.style.display = 'none';
                }, 100);
            }
        });

    </script>

    <!-- Script para liberar campos caso a setor seja solda -->
    <script>

        var listaDropdown = document.getElementById('listSetor');
        var inputDropdown = document.getElementById('inputSetor');

        listaDropdown.addEventListener('click', function(event) {
            if (event.target.tagName === 'LI') {
                inputDropdown.value = event.target.textContent;
                
                if (event.target.textContent === 'Solda') {
                    document.getElementById('campoEquipamentoEmFalha').style.display = 'block';
                    document.getElementById('campoMaquinaLocal').style.display = 'none';
                    document.getElementById('inputEquipamentoFalha').required = true;
                    // document.getElementById('campoFerramenta').style.display = 'block';
                    document.getElementById('campoSetorMaquinaSolda').style.display = 'none';
                    
                } else {
                    document.getElementById('campoMaquinaLocal').style.display = 'block';
                    document.getElementById('campoEquipamentoEmFalha').style.display = 'none';
                    document.getElementById('inputEquipamentoFalha').required = false;
                    document.getElementById('campoEquipamentoEmFalha').style.display = 'none';
                    document.getElementById('campoSetorMaquinaSolda').style.display = 'none';
                    document.getElementById('campoFerramenta').style.display = 'none';
                }
                
                if (event.target.textContent === 'Administrativo') {
                    document.getElementById('inputImpacto').value = 'Baixo';
                    document.getElementById('inputImpacto').readOnly = true;
                    document.getElementById('checkboxMaquinaParada').disabled = true;
                    document.getElementById('listaImpacto').required = true;
                   
                } else {
                    document.getElementById('inputImpacto').value = '';
                    document.getElementById('inputImpacto').readOnly = false;
                    document.getElementById('checkboxMaquinaParada').disabled = false;
                    document.getElementById('listaImpacto').required = false;
                }

                console.log(event.target.textContent);

                // Oculte a lista após um pequeno atraso para garantir que o valor do input seja atualizado antes
                setTimeout(function() {
                    listaDropdown.style.display = 'none';
                }, 100);
            }
        });

    </script>

    <!-- Script para liberar campos do equipamento em falha -->
    <!-- AQUI -->
    <script> 

        var listaDropdown = document.getElementById('listEquipamentoFalha');
        var inputDropdown = document.getElementById('inputEquipamentoFalha');

        var listMaquinaLocal = document.getElementById('listMaquinaLocal');

        // var inputEquipamentoFalha = document.getElementById("inputEquipamentoFalha");
        var inputFerramenta = document.getElementById('inputFerramenta');
        var inputcampoESetorMaquinaSolda = document.getElementById('inputcampoESetorMaquinaSolda');
        var inputCodigoFerramenta = document.getElementById('inputCodigoFerramenta');
        var inputMaquinaLocal = document.getElementById('inputMaquinaLocal');

        listaDropdown.addEventListener('click', function(event) {
            if (event.target.tagName === 'LI') {
                var setor = document.getElementById('inputSetor').value;
                inputDropdown.value = event.target.textContent;

                // inputEquipamentoFalha.value = '';
                inputFerramenta.value = '';
                inputcampoESetorMaquinaSolda.value = '';
                inputCodigoFerramenta.value = '';
                inputMaquinaLocal.value = '';

                document.getElementById('campoMaquinaLocal').style.display = 'none';
                document.getElementById('campoSetorMaquinaSolda').style.display = 'none';
                document.getElementById('inputcampoESetorMaquinaSolda').required = false;
                document.getElementById('campoCodigoFerramenta').style.display = 'none';
                document.getElementById('campoFerramenta').style.display = 'none';
                document.getElementById('inputFerramenta').required = false;
                document.getElementById('inputCodigoFerramenta').required = false;
                document.getElementById('inputMaquinaLocal').required = true;

                if (event.target.textContent === 'Máquina de Solda') {
                    document.getElementById('campoSetorMaquinaSolda').style.display = 'block';
                    document.getElementById('campoMaquinaLocal').style.display = 'block';
                    document.getElementById('inputcampoESetorMaquinaSolda').required = true;
                }

                if (event.target.textContent === 'Ferramentas') {
                    document.getElementById('campoCodigoFerramenta').style.display = 'block';
                    document.getElementById('campoFerramenta').style.display = 'block';
                    document.getElementById('inputMaquinaLocal').required = false;
                    document.getElementById('inputFerramenta').required = true;
                    document.getElementById('inputCodigoFerramenta').required = true;
                }

                if (event.target.textContent === 'Monovia') {
                    document.getElementById('campoMaquinaLocal').style.display = 'block';
                    document.getElementById('inputMaquinaLocal').required = false;
                }

                else {
                    document.getElementById('inputMaquinaLocal').required = false;
                }

                $.ajax({
                    url: '/maquinas/' + setor,
                    type: 'GET',
                    success: function(data) {
                        // Limpa a listaDropdown antes de adicionar novos itens
                        listMaquinaLocal.innerHTML = '';

                        // Filtra os itens que contêm 'MONOVIA' no nome quando inputDropdown.value é 'Máquina de Solda'
                        if (inputDropdown.value === 'Máquina de Solda') {
                            data = data.filter(function(item) {
                                return item[0].indexOf('MONOVIA') === -1;
                            });
                        } else if(inputDropdown.value === 'Monovia') {
                            data = data.filter(function(item) {
                                return item[0].indexOf('MÁQUINA DE SOLDA') === -1;
                            });
                        }

                        console.log(data)
                        // Adiciona os itens filtrados à lista
                        data.forEach(function(item) {
                            var li = document.createElement('li');
                            li.textContent = item;
                            listMaquinaLocal.appendChild(li);
                        });
                    }
                });

                console.log(event.target.textContent);

                // Oculte a lista após um pequeno atraso para garantir que o valor do input seja atualizado antes
                setTimeout(function() {
                    listaDropdown.style.display = 'none';
                }, 100);
            }
        });

    </script>

    <!-- Modal de informativo para exibir assim que carregar a página -->
    <script>
        $(document).ready(function() {
            $('#informativo').modal('show');
        });
    </script>

    <!-- Mensagem caso o nome do setor esteja em branco -->
    <script>
        document.getElementById('inputMaquinaLocal').addEventListener('click', function(){
            var setorEscolhido = document.getElementById("inputSetor").value;
            
            if (setorEscolhido === '') {
                console.log('escolha o setor');
                exibirMensagem('aviso','Escolha o setor')
            } 
            
        })
    </script>

    <!-- Desabilita o botão ao enviar o formulário e habilita novamente após o envio ser realizado com sucesso -->
    <script>
        $(document).ready(function () {
            $("#formularioEnviarOs").submit(function () {
                $("#btnEnviar").prop("disabled", true); // Desabilita o botão ao enviar o formulário
                return true; // Permite a submissão do formulário
            });
        });
    </script>

</body>

</html>