{% extends "user/layout.html" %}
{% block body %}

<style>
  th, td {
    text-align: center;
  }
</style>

<div id = 'linha_tempo'class="card card-body">
    <div class = "board" style="overflow-x: auto;">
    <div id = 'abertura_titulo' class="row justify-content-center align-items-center mb-3" style="width: 100%;"> 
        <a href="#" onclick="window.history.back();" class="botao-voltar">
          <i class="fas fa-arrow-left"></i>
        </a>
      <h5 style="margin-left: 55px; margin-right: 15px;">Linha do tempo #OS{{id_ordem}}</h5>
      <button id="menu-button"><i class="fa-solid fa-bars"></i></button>
    </div> 
      <table id="example" class="table custom-table table-striped table-bordered">
        <thead class="hide-thead">
          <tr>
            <th>N° execução</th>
            <th>Status</th>
            <th>Data Inicio</th>
            <th>Data Fim</th>
            <th>Operadores</th>
            <th>Duração (minutos)</th>
            <th>Comentários</th>
            <th>Custo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for data in df_timeline %}
        <tr>
            <td data-title="N° execução">{{data[0]}}</td>
            
            {% if data[1].strip() == 'Finalizada' %}
            <td data-title="Status" class="colunaStatus" style="overflow: hidden; white-space: nowrap;">
              <span class="flag-finalizado">{{data[1]}}</span>
            </td>
            {% elif data[1].strip() == 'Em espera' %}
            <td data-title="Status" class="colunaStatus" style="overflow: hidden; white-space: nowrap;">
              <span class="flag-em-espera">{{ data[1] }}</span>
            </td>   
            {% elif data[1].strip() == 'Em execução' %}
            <td data-title="Status" class="colunaStatus" style="overflow: hidden; white-space: nowrap;">
              <span class="flag-em-execucao">{{ data[1] }}</span>
            </td>
            {% else %}
            <td data-title="Status" class="colunaStatus" style="overflow: hidden; white-space: nowrap;">
              <span class="flag-aguardando">{{ data[1] }}</span>
            </td>
            {% endif %}

            <td data-title="Data Inicio">{{data[2]}}</td>
            <td data-title="Data Fim">{{data[3]}}</td>
            <td data-title="Operadores">{{data[4]}}</td>
            <td data-title="Duração (minutos)">{{data[8]}}</td>
            <td data-title="Comentários">{{data[5]}}</td>
            {% if data[0] > 0 %}
            <td data-title="Custo">R$ {{data[9]}}</td>
            {% else %}
              <td data-title="Custo">-</td>
            {% endif %}
            {% if data[0] != 0 %}
            <td>
              <a id="dropdown_os" class="dropdown-item" href="/editar_ordem/{{id_ordem}}/{{data[0]}}"> 
                <i class="fas fa-pencil"></i> 
              </a>
            </td>
            {% else %}
              <td></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
        <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td data-title="Duração Total (minutos)">{{totalMinutos}}</td>
          <td></td>
          <td data-title="Custo Total">R$ {{totalCusto}}</td>
        </tbody>
      </table>
    </div>
</div>

{% endblock %}