{% extends "user/layout.html" %}
{% block body %}

<style>
  th, td {
    text-align: center;
  }
</style>

{% with messages = get_flashed_messages()  %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="sucess">
    <strong>Sucesso!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="sucess" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div id = 'linha_tempo'class="card card-body">
    <div class = "board" style="overflow-x: auto;">
    <div id = 'abertura_titulo' class="row justify-content-center align-items-center mb-3" style="width: 100%;"> 
        <a href="#" onclick="window.history.back();" class="botao-voltar">
          <i class="fas fa-arrow-left"></i>
        </a>
      <h5 style="margin-left: 64px; margin-right: 3px;">Linha do tempo #OS{{id_ordem}}</h5>
      <button id="menu-button"><i class="fa-solid fa-bars"></i></button>
    </div> 
      <table id="example" class="table custom-table table-striped table-bordered">
        <thead class="hide-thead">
          <tr>
            <th>N° execução</th>
            <th>Status</th>
            <th>Data Inicio</th>
            <th>Data Fim</th>
            <th>Operadores</th>
            <th>Duração (minutos)</th>
            <th>Comentários</th>
            <th>Custo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for data in df_timeline %}
        <tr>
            <td data-title="N° execução">{{data[0]}}</td>
            
            {% if data[1].strip() == 'Finalizada' %}
            <td data-title="Status" class="colunaStatus" style="overflow: hidden; white-space: nowrap;">
              <span class="flag-finalizado">{{data[1]}}</span>
            </td>
            {% elif data[1].strip() == 'Em espera' %}
            <td data-title="Status" class="colunaStatus" style="overflow: hidden; white-space: nowrap;">
              <span class="flag-em-espera">{{ data[1] }}</span>
            </td>   
            {% elif data[1].strip() == 'Em execução' %}
            <td data-title="Status" class="colunaStatus" style="overflow: hidden; white-space: nowrap;">
              <span class="flag-em-execucao">{{ data[1] }}</span>
            </td>
            {% else %}
            <td data-title="Status" class="colunaStatus" style="overflow: hidden; white-space: nowrap;">
              <span class="flag-aguardando">{{ data[1] }}</span>
            </td>
            {% endif %}

            <td data-title="Data Inicio">{{data[2]}}</td>
            <td data-title="Data Fim">{{data[3]}}</td>
            <td data-title="Operadores">{{data[4]}}</td>
            <td data-title="Duração (minutos)">{{data[8]}}</td>
            <td data-title="Comentários">{{data[5]}}</td>
            {% if data[0] > 0 %}
              <td data-title="Custo">R$ {{data[9]}}</td>
            {% else %}
              <td data-title="Custo">-</td>
            {% endif %}
            {% if data[0] != 0 %}
            <td data-title="Menu" style="padding-bottom: 0px; padding-left: 0; padding-right: 0; padding-top: 8px;">
              <div class="dropup">
                  <button style = 'background-color: rgb(255, 255, 255,0);'class="btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a id="dropdown_os" class="dropdown-item" href="/editar_ordem/{{id_ordem}}/{{data[0]}}"> 
                      <i class="fas fa-pencil"></i> 
                    </a>    
                    <a id="dropdown_os" class="dropdown-item" href="#" onclick="modalExclusao('{{ id_ordem }}','{{ data[0] }}')"> 
                      <i class="fas fa-trash"></i> 
                    </a>
                  </div>
              </div>
          </td>
            {% else %}
              <td></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
        <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td data-title="Duração Total (minutos)">{{totalMinutos}}</td>
          <td></td>
          <td data-title="Custo Total">R$ {{totalCusto}}</td>
        </tbody>
      </table>
    </div>
</div>

<!-- Modal para excluir excecução -->
<div class="modal fade" id="modalExclusao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="TituloModalCentralizado">
                  <i class="fas fa-exclamation-triangle text-warning"></i> <!-- Ícone de atenção -->
                  Atenção
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
          Tem certeza que quer remover essa execução? 
          Esse processo é irreversível.
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary" id="btnExcluir">Excluir</button>
          </div>
      </div>
  </div>
</div>

<!-- Script para modal de exclusão de execucao -->
<script>
  function modalExclusao(id_ordem, n_execucao) {
      // Exibir o modal
      $('#modalExclusao').modal('show');

      // Armazenar o código da máquina em uma variável
      var IdOrdem = id_ordem;
      var NExecucao = n_execucao;

      // Adicionar um evento de clique ao botão "Excluir" do modal
      $('#btnExcluir').click(function() {
          showLoading();
          // Realizar a requisição AJAX para o backend
          $.ajax({
              type: 'POST',  // Método da requisição (pode ser GET, POST, etc.)
              url: '/excluir-execucao',  // URL do backend onde irá processar a exclusão da máquina
              data: { id_ordem: IdOrdem,
                      n_execucao: NExecucao},  // Dados a serem enviados para o servidor (nesse caso, o código da máquina)
              success: function(response) {
                  // Aqui você pode tratar a resposta do servidor, caso necessário
                  console.log(response);
                  // Fechar o modal após a requisição ser enviada
                  $('#modalExclusao').modal('hide');
                  hideLoading();
                  // Recarregar a página após a exclusão ser concluída
                  location.reload();
              },
              error: function(error) {
                  // Caso ocorra algum erro na requisição, você pode tratar aqui
                  console.log('Erro na requisição:', error);
                  hideLoading();
                  location.reload();
              }
              
          });
          
      });
  }
</script>

{% endblock %}