{% extends "user/layout.html" %}
{% block body %}
  <br>
    <div id = 'linha_tempo'class="card card-body">
      <div class="row justify-content-md-center">
        <div class="row"><h3>Linha do tempo das manutenções por Ordem</h3></div>
          <table id="example" class="table table-striped table-bordered">
            <thead>
              <tr>
                <td>No Ordem</td>
                <td>Status</td>
                <td>Data Inicio</td>
                <td>Data Fim</td>
                <td>Operadores</td>
                <td>Tempo de duração</td>
              </tr>
            </thead>
            <tbody>
            {% for data in df_timeline %}
            <tr>
                <td>{{data[0]}}</td>
                
                {% if data[1].strip() == 'Finalizada' %}
                <td id="status_os_finalizadas_timeline">{{ data[1] }}</td>
                {% elif data[1].strip() == 'Em espera' %}
                <td id="status_os_espera_timeline">{{ data[1] }}</td>
                {% elif data[1].strip() == 'Em execução' %}
                <td id="status_os_execução_timeline">{{ data[1] }}</td>
                {% else %}
                <td id="status_os_aguardando_timeline">{{ data[1] }}</td>
                {% endif %}

                <td>{{data[2]}}</td>
                <td>{{data[3]}}</td>
                <td>{{data[4]}}</td>
                <td>{{data[7]}}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
 
{% endblock %}