{% extends "user/layout.html" %}
{% block body %}

<style>
  th, td {
    text-align: center;
  }
</style>

<div id = 'linha_tempo'class="card card-body">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <a href="#" onclick="window.history.back();" class="botao-voltar">
      <i class="fas fa-arrow-left"></i>
    </a>
    <h3 style="font-size: 20px;">Histórico de preventivas da máquina: {{ maquina }}</h3>
    <button class="menu-button"><i class="fa-solid fa-bars"></i></button>
  </div>
      <table id="example" class="table custom-table table-striped">
        <thead class="hide-thead">
          <tr style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
            <td></td>
            <td>No Ordem</td>
            <td>Status</td>
            <td>Data plan.</td>
            <td>Última atualização</td>
            <td>Operadores</td>
          </tr>
        </thead>
        <tbody>
        {% for data in data %}
        <tr>
            <td>
              <div class="dropdown">
                <button style = 'background-color: rgb(255, 255, 255,0);'class="btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-sharp fa-solid fa-ellipsis-vertical"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <a id="dropdown_os" class="dropdown-item" href="/edit/{{data[10]}}"> 
                      <i class="fas fa-wrench"></i> 
                  </a>    
                  <a id = 'dropdown_os' class = "dropdown-item" href="/timeline/{{data[10]}}" class="btn"> 
                      <i class="fas fa-clock"></i> 
                  </a>
                </div>
              </div>
            </td> 
            
            <td data-title="N° Ordem">{{ data[11] }}</td>
            
            {% if data[4].strip() == 'Finalizada' %}
            <td id="status_os_finalizadas_timeline">{{ data[4] }}</td>
            {% elif data[4].strip() == 'Em espera' %}
            <td id="status_os_espera_timeline">{{ data[4] }}</td>
            {% elif data[4].strip() == 'Em execução' %}
            <td id="status_os_execução_timeline">{{ data[4] }}</td>
            {% else %}
            <td id="status_os_aguardando_timeline">{{ data[4] }}</td>
            {% endif %} 

            <td data-title="N° Ordem">{{data[12]}}</td>
            <td data-title="Última atualização">{{data[8]}}</td>
            <td data-title="Operadores" style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{data[14]}}</td>

        </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
</div>
 
{% endblock %}